force-app/main/default/flows/AlertDaysAgoApprovalDeadline3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>未申請かつ承認期限3日前の伺いに対して、所有者にアラートメールを送信する。</description>
        <name>action_QuoteBiddingInquiryUnappliedAlert</name>
        <label>見積・応札・手数料伺い未申請アラートメール送信</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>MailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>var_MailText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <description>レコード所有者に送信するアラートの本文を作成する。</description>
        <name>assign_MailText</name>
        <label>メール本文作成</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&lt;社外秘&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;以下の作成中伺いの承認期限が3日後に迫っています。</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;速やかにWF申請開始するか、承認期限の変更をお願いします。</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;伺い件名：</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;伺い区分：</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;詳細リンク：</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_RecordPageURL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>action_QuoteBiddingInquiryUnappliedAlert</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>フローの起動日が承認期限の3日前か判断する</description>
        <name>JudgeAlertTarget</name>
        <label>アラート対象判断</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>対象外</defaultConnectorLabel>
        <rules>
            <name>UnapprovedAlertOutgoingTarget</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysAgoApprovalDeadline_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MailText</targetReference>
            </connector>
            <label>未申請アラート発信対象</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DaysAgoApprovalDeadline_3</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.HeadOfficeResponceDeadline__c} - TODAY() = 3</expression>
    </formulas>
    <formulas>
        <description>メール件名</description>
        <name>MailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;(社外秘)伺い未申請アラート「&quot;+ {!$Record.Name} + &quot;」&quot;</expression>
    </formulas>
    <formulas>
        <name>var_RecordPageURL</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_350  ,FIND(&quot;/services/Soap/&quot;, $Api.Partner_Server_URL_350)) + &apos;lightning/r/QuoteBiddingInquiry__c/&apos; + {!$Record.Id} + &apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>承認期限3日前アラート {!$Flow.CurrentDateTime}</interviewLabel>
    <label>伺い未申請アラート</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>JudgeAlertTarget</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InquiryApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>未申請</stringValue>
            </value>
        </filters>
        <object>QuoteBiddingInquiry__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-02-04</startDate>
            <startTime>08:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>アラート受信者の宛先</description>
        <name>var_Adress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>メール本文の変数</description>
        <name>var_MailText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
