force-app/main/default/flows/ApprovalApplicationAutoUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GMReportTopicsOpportunityResultReportNotification</name>
        <label>GM報告トピックス案件結果報告通知</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.BusinessManagementPromotionB__r.Manager.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>MailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>var_MailText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <elementReference>var_CCAddresses</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>assign_MailText</name>
        <label>メール本文作成</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;社外秘&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt; TO：FIS GM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt; CC：社環計B、社環計・企画K、BU推進B、事管推B</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt; 　　 申請部門B・K・TL・担当</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;&lt;br&gt; 以下の伺いの</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.GMReportTopicsOpportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>報告がGM報告トピックス案件として登録されました。</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;詳細の案件情報は下記URLリンクの伺いレコードをご確認の上、必要に応じて、本メールの全員返信にてフィードバックをお願いいたします。</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;&lt;br&gt; 伺い件名：</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;&lt;br&gt;GM報告トピックス案件：</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.GMReportTopicsOpportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;&lt;br&gt;落札者：</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.WinningBidder__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;落札者(手入力)：</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ManualWinningBidder__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;&lt;br&gt;落札金額：</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.WinningBidAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>円</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;当社契約金額：</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OurBidAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>円</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;受注時WC率：</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OrderWCRate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>%</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;受注時TC率：</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OrderTCRate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>%</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;&lt;br&gt;報告内容：&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ReplaceReportDetail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;&lt;br&gt;詳細リンク：</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_RecordPageURL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;以上</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ManualWinningBidder__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GMReportTopicsOpportunityResultReportNotification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCCAddresses</name>
        <label>宛先CC設定</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_CCAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SocialEnvironmentalPlanningB__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CCAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CCAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SocialEnvironmentalPlanningDepartmentK__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CCAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CCAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.BUPromotionManager__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CCAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CCAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.BusinessManagementPromotionB__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CCAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CCAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Applicant__r.Manager.Manager.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CCAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CCAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Applicant__r.Manager.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CCAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CCAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Applicant__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CCAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CCAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.TLApprover__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_MailText</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsSendEmail</name>
        <label>受注・失注報告メール通知判断</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>送信しない</defaultConnectorLabel>
        <rules>
            <name>sendMail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ResultContactStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ResultContactStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GMReportTopicsOpportunity__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setCCAddresses</targetReference>
            </connector>
            <label>送信する</label>
        </rules>
    </decisions>
    <decisions>
        <name>judgeInquiryOrResult</name>
        <label>伺い申請か結果報告か</label>
        <locationX>182</locationX>
        <locationY>1835</locationY>
        <defaultConnector>
            <targetReference>InsertInquiryRequestInfo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>伺い申請</defaultConnectorLabel>
        <rules>
            <name>Result</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RequestClassification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>結果報告</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsertResultRequestInfo</targetReference>
            </connector>
            <label>結果報告</label>
        </rules>
    </decisions>
    <decisions>
        <name>JudgeWhenApplication</name>
        <label>申請時かどうか</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>IsSendEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>申請時ではない</defaultConnectorLabel>
        <rules>
            <name>WhenApplication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalAssignmentDateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ApprovalAssignmentDateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getProcessInstance</targetReference>
            </connector>
            <label>申請時</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>inquiryStatusCorrectionValue</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(
        ISPICKVAL({!$Record.InquiryApprovalStatus__c},&apos;TL&apos;), 
        ISBLANK({!$Record.TLApprover__c})
    ),
    &apos;所属課長&apos;,TEXT({!$Record.InquiryApprovalStatus__c})
)</expression>
    </formulas>
    <formulas>
        <description>送信するメールの件名。</description>
        <name>MailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;(社外秘)&quot;&amp;TEXT({!$Record.GMReportTopicsOpportunity__c})&amp;&quot;報告&quot;&amp;{!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>quoteBuRoleFormula</name>
        <dataType>String</dataType>
        <expression>IF( ISPICKVAL( {!$Record.BU__c}, &quot;施設&quot;), &quot;ファシリティインフラシステム事業部 施設環境部&quot;,
    IF( ISPICKVAL( {!$Record.BU__c}, &quot;水環境&quot;), &quot;ファシリティインフラシステム事業部 社会システム第一部&quot;,
        IF( ISPICKVAL( {!$Record.BU__c}, &quot;官需&quot;), &quot;ファシリティインフラシステム事業部 社会システム第二部&quot;,
            IF( ISPICKVAL( {!$Record.BU__c}, &quot;官公情報&quot;), &quot;ファシリティインフラシステム事業部 官公システム部&quot;,
              IF( ISPICKVAL( {!$Record.BU__c}, &quot;通シ&quot;), &quot;ファシリティインフラシステム事業部 通信システム部&quot;,
              &quot;&quot;)
          )
        )
    )
)</expression>
    </formulas>
    <formulas>
        <description>ReportDetail__cの改行を「&lt;br&gt;・」に置換し、本文を改行する。</description>
        <name>ReplaceReportDetail</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.ReportDetail__c}, SUBSTITUTE($Label.LineBreak, &quot;-&quot;, &quot;&quot;), &quot;&lt;br&gt;&quot;)</expression>
    </formulas>
    <formulas>
        <name>resultStatusCorrectionValue</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(
        ISPICKVAL({!$Record.ResultContactStatus__c},&apos;TL&apos;), 
        ISBLANK({!$Record.TLApprover__c})
    ),
    &apos;所属課長&apos;,TEXT({!$Record.ResultContactStatus__c})
)</expression>
    </formulas>
    <formulas>
        <name>var_RecordPageURL</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_560  ,FIND(&quot;/services/Soap/&quot;, $Api.Partner_Server_URL_560)) + &apos;lightning/r/QuoteBiddingInquiry__c/&apos; + {!$Record.Id} + &apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>承認申請時自動処理 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>見積・応札伺い承認申請時</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getBUPromotionB</name>
        <label>BU推進部長を取得</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSocialEnvironmentalPlanningRole</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getBUPromotionBRoleId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ManagerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getBUPromotionBManager.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getBUPromotionBManager</name>
        <label>BU推進部長のマネージャーを取得</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getBUPromotionB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getBUPromotionBManagerRoleId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>社環 CRMロボ</stringValue>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>事業部長</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getBUPromotionBManagerRoleId</name>
        <label>BU推進部長マネージャーロールIDを取得</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getBUPromotionBRoleId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01_ファシリティインフラシステム事業部</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getBUPromotionBRoleId</name>
        <label>BU推進部長ロールIDを取得</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getBUPromotionBManager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteBuRoleFormula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getBusinessManagementPromotionB</name>
        <label>事管推部長を取得</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getBUPromotionBManagerRoleId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getBusinessManagementPromotionBID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getBusinessManagementPromotionBID</name>
        <label>事管推部長ロールIDを取得</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getBusinessManagementPromotionB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ファシリティインフラシステム事業部 事業管理推進部</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProcessDefinition</name>
        <label>プロセス定義を取得</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getProcessInstanceStep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getProcessInstance.ProcessDefinitionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProcessInstance</name>
        <label>プロセスインスタンスを取得</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getProcessDefinition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProcessInstanceStep</name>
        <label>プロセスインスタンスステップを取得</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getBusinessManagementPromotionBID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getProcessInstance.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceStep</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSocialEnvironmentalPlanning</name>
        <label>社環計部長を取得</label>
        <locationX>182</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSocialEnvironmentalPlanningDepartmentKRole</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSocialEnvironmentalPlanningRole.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSocialEnvironmentalPlanningDepartmentK</name>
        <label>社環計・企画課長を取得</label>
        <locationX>182</locationX>
        <locationY>1727</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>judgeInquiryOrResult</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSocialEnvironmentalPlanningDepartmentKRole.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSocialEnvironmentalPlanningDepartmentKRole</name>
        <label>社環計・企画課長ロールIDを取得</label>
        <locationX>182</locationX>
        <locationY>1619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSocialEnvironmentalPlanningDepartmentK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ファシリティインフラシステム事業部 社会環境計画部 企画課 課長</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSocialEnvironmentalPlanningRole</name>
        <label>社環計部長ロールIDを取得</label>
        <locationX>182</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSocialEnvironmentalPlanning</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ファシリティインフラシステム事業部 社会環境計画部</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>InsertInquiryRequestInfo</name>
        <label>伺い申請時のステータスチェック及びBU推進部長設定</label>
        <locationX>314</locationX>
        <locationY>1943</locationY>
        <inputAssignments>
            <field>BUPromotionManager__c</field>
            <value>
                <elementReference>getBUPromotionB.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessManagementPromotionB__c</field>
            <value>
                <elementReference>getBusinessManagementPromotionB.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InquiryApprovalStatus__c</field>
            <value>
                <elementReference>inquiryStatusCorrectionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusForPath__c</field>
            <value>
                <elementReference>inquiryStatusCorrectionValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>InsertResultRequestInfo</name>
        <label>結果報告時のステータスチェック及びBU推進部長設定</label>
        <locationX>50</locationX>
        <locationY>1943</locationY>
        <inputAssignments>
            <field>BUPromotionManager__c</field>
            <value>
                <elementReference>getBUPromotionB.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessManagementPromotionB__c</field>
            <value>
                <elementReference>getBusinessManagementPromotionB.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResultContactStatus__c</field>
            <value>
                <elementReference>resultStatusCorrectionValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SocialEnvironmentalPlanningB__c</field>
            <value>
                <elementReference>getSocialEnvironmentalPlanning.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SocialEnvironmentalPlanningDepartmentK__c</field>
            <value>
                <elementReference>getSocialEnvironmentalPlanningDepartmentK.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>JudgeWhenApplication</targetReference>
        </connector>
        <filterLogic>1 OR 2</filterLogic>
        <filters>
            <field>InquiryApprovalStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ResultContactStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>QuoteBiddingInquiry__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_CCAddresses</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_MailText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
