force-app/main/default/flows/AttributeSurveyActive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>属性調査_有効化 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>属性調査_有効化</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>取引先に紐づく属性調査の有効フラグを無効に更新する</description>
        <name>AttributeSurvey</name>
        <label>属性調査無効化</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>AttributeSurveyActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ValidFlag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>承認済</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ValidFlag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>AttributeSurvey__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>承認済になった属性調査の有効フラグをtrueに更新する</description>
        <name>AttributeSurveyActive</name>
        <label>属性調査有効更新</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>UpdateAccount</targetReference>
        </connector>
        <inputAssignments>
            <field>ValidFlag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>「最終承認日」を取引先の「属性調査最終承認日」に転記</description>
        <name>UpdateAccount</name>
        <label>取引先更新</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>AttributeSurveyLastApprovalDate__c</field>
            <value>
                <elementReference>$Record.LastApprovalDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AttributeSurvey</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>承認済</stringValue>
            </value>
        </filters>
        <object>AttributeSurvey__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
