force-app/main/default/flows/CreateQuoteBiddingInquiryRecordCopyItems.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>add</name>
        <label>件数加算</label>
        <locationX>270</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>recordCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRecordTypeName</name>
        <label>レコードタイプ名を割り当て</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setVer</name>
        <label>バージョン設定</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>$Record.ver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newVer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCloneRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckCopyRecordType</name>
        <label>コピー後のレコードタイプ判定</label>
        <locationX>182</locationX>
        <locationY>1379</locationY>
        <defaultConnectorLabel>それ以外の場合</defaultConnectorLabel>
        <rules>
            <name>isSH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCreatDetail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateDetailByInquiryFactoryRecordFromSR</targetReference>
            </connector>
            <label>設計変更応札伺いの場合</label>
        </rules>
    </decisions>
    <decisions>
        <name>JugeOrderExpectation1</name>
        <label>受注見込判定</label>
        <locationX>974</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>OpportunityNullJudge1_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsTarget1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunity.OrderExpectation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getOpportunity.OrderExpectation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getOpportunity.OrderExpectation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityNullJudge1_1</targetReference>
            </connector>
            <label>受注見込が4C,4,5以外の場合</label>
        </rules>
    </decisions>
    <decisions>
        <name>JugeOrderExpectation2</name>
        <label>受注見込判定</label>
        <locationX>2030</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>OpportunityNullJudge2_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsTarget2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunity.OrderExpectation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getOpportunity.OrderExpectation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getOpportunity.OrderExpectation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityNullJudge2_1</targetReference>
            </connector>
            <label>受注見込が4C,4,5以外の場合</label>
        </rules>
    </decisions>
    <decisions>
        <name>jugeRecordType</name>
        <label>レコードタイプ判定</label>
        <locationX>1502</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>JugeOrderExpectation2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>設計変更以外</defaultConnectorLabel>
        <rules>
            <name>isChangeDesign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JugeOrderExpectation1</targetReference>
            </connector>
            <label>設計変更</label>
        </rules>
    </decisions>
    <decisions>
        <name>NewOrCopy</name>
        <label>新規作成かコピー作成か</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>jugeRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>新規作成</defaultConnectorLabel>
        <rules>
            <name>Copy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.isFromOpp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCount</targetReference>
            </connector>
            <label>コピー</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpportunityNullJudge1_1</name>
        <label>案件がNULLかどうか判定</label>
        <locationX>710</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>UpdateRecord1_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NULL</defaultConnectorLabel>
        <rules>
            <name>NotNULL1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecord1_1</targetReference>
            </connector>
            <label>NULLではない</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpportunityNullJudge1_2</name>
        <label>案件がNULLかどうか判定</label>
        <locationX>1238</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>UpdateRecord1_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NULL</defaultConnectorLabel>
        <rules>
            <name>NotNULL1_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecord1_3</targetReference>
            </connector>
            <label>NULLではない</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpportunityNullJudge2_1</name>
        <label>案件がNULLかどうか判定</label>
        <locationX>1766</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>UpdateRecord2_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NULL</defaultConnectorLabel>
        <rules>
            <name>NotNULL2_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecord2_1</targetReference>
            </connector>
            <label>NULLではない</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpportunityNullJudge2_2</name>
        <label>案件がNULLかどうか判定</label>
        <locationX>2294</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>UpdateRecord2_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NULL</defaultConnectorLabel>
        <rules>
            <name>NotNULL2_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecord2_3</targetReference>
            </connector>
            <label>NULLではない</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BiddingSystemDecision</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!$Record.DependentJvInquiry__c}),
  IF(
    {!$Record.Opportunity__r.MPEC_opp__c} = TRUE,
    &quot;協業&quot;,
    &quot;単独&quot;
  ),
  &quot;JV&quot;
)</expression>
    </formulas>
    <formulas>
        <name>BidForm</name>
        <dataType>String</dataType>
        <expression>IF ({!getOpportunity.MPEC_opp__c}, &apos;協業&apos;, &apos;単独&apos;)</expression>
    </formulas>
    <formulas>
        <name>ConstructionClassificationValue</name>
        <dataType>String</dataType>
        <expression>IF(FIND(&apos;;&apos;, TEXT({!getOpportunity.ConstructionDistinction__c})) &gt; 0 , 
    LEFT(TEXT({!getOpportunity.ConstructionDistinction__c}), FIND(&apos;;&apos;,TEXT({!getOpportunity.ConstructionDistinction__c})) - 1),
    TEXT({!getOpportunity.ConstructionDistinction__c})
)</expression>
    </formulas>
    <formulas>
        <description>SR情報から伺い明細作成するかどうかの判断フラグ</description>
        <name>isCreatDetail</name>
        <dataType>Boolean</dataType>
        <expression>IF (
OR(CONTAINS({!NameFirstChar}, &quot;設&quot;),
{!$Record.RecordType.DeveloperName} == &apos;SH&apos;)
, true, false)</expression>
    </formulas>
    <formulas>
        <name>Name_BU</name>
        <dataType>String</dataType>
        <expression>IF (
      CONTAINS(TEXT({!$Record.BU__c}), &quot;官&quot;),
        LEFT(TEXT({!$Record.BU__c}), 2), 
        LEFT(TEXT({!$Record.BU__c}), 1)
)</expression>
    </formulas>
    <formulas>
        <description>伺い件名の支社名部分</description>
        <name>Name_OOD</name>
        <dataType>String</dataType>
        <expression>CASE({!Opp_PickDivision},
           &quot;本社&quot;, LEFT({!Opp_PickDivision}, 1),
           &quot;北支&quot;, LEFT({!Opp_PickDivision}, 1),
           &quot;東北&quot;, LEFT({!Opp_PickDivision}, 2),
           &quot;関越&quot;, LEFT({!Opp_PickDivision}, 2),
           &quot;神奈&quot;, LEFT({!Opp_PickDivision}, 2),
           &quot;陸支&quot;, LEFT({!Opp_PickDivision}, 1),
           &quot;中部&quot;, LEFT({!Opp_PickDivision}, 2),
           &quot;西支&quot;, LEFT({!Opp_PickDivision}, 1),
           &quot;中国&quot;, LEFT({!Opp_PickDivision}, 2),
           &quot;四支&quot;, LEFT({!Opp_PickDivision}, 1),
           &quot;九支&quot;, LEFT({!Opp_PickDivision}, 1),
           &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>NameFirstChar</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Name},1)</expression>
    </formulas>
    <formulas>
        <name>NameFormula</name>
        <dataType>String</dataType>
        <expression>LEFT(&quot;【&quot; &amp; {!Name_BU}&amp; &quot;・&quot; &amp; 
IF({!$Record.RecordType.Name} = &quot;JV締結伺い&quot;, 
LEFT({!$Record.RecordType.Name}, 2), 
LEFT({!$Record.RecordType.Name}, 1)) &amp; &quot;・&quot; &amp; 
{!Name_OOD}&amp; &quot;】&quot; &amp; {!$Record.LastCustomer__r.Name} &amp;&quot;／&quot;&amp;{!getOpportunity.Name} &amp;
&quot;　&quot; &amp; {!$Record.ver__c},80)</expression>
    </formulas>
    <formulas>
        <name>newVer</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT({!recordCount}+1), 2, &quot;0&quot;)</expression>
    </formulas>
    <formulas>
        <description>案件.部門先頭の2文字</description>
        <name>Opp_PickDivision</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT({!getOpportunity.PickDivision__c}),2)</expression>
    </formulas>
    <formulas>
        <description>作成する伺いに紐づく案件の元請/下請が「JV」の場合は、「元請」として伺いに転記する。</description>
        <name>Replace_PrimeSubContractor</name>
        <dataType>String</dataType>
        <expression>IF (ISPICKVAL({!$Record.Opportunity__r.UKE_KBN__c}, &quot;JV&quot;), &quot;元請&quot;, TEXT({!$Record.Opportunity__r.UKE_KBN__c}))</expression>
    </formulas>
    <interviewLabel>見積・応札伺い作成フロー（項目転記） {!$Flow.CurrentDateTime}</interviewLabel>
    <label>見積・応札伺い作成フロー（項目転記）</label>
    <loops>
        <name>setCount</name>
        <label>伺い件数設定</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <collectionReference>getCount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>setVer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>顧客を取得する</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NewOrCopy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOpportunity.Client__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCount</name>
        <label>伺いの件数を取得</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteBiddingInquiry__c</object>
        <sortField>ver__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpportunity</name>
        <label>案件を取得する</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateCloneRecord</name>
        <label>伺い更新</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>CheckCopyRecordType</targetReference>
        </connector>
        <inputAssignments>
            <field>Approver1__c</field>
            <value>
                <elementReference>$Record.CreatedBy.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsCreatDetailFromSR__c</field>
            <value>
                <elementReference>isCreatDetail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRecord1_1</name>
        <label>見積・応札伺いを更新する</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>CreateDetailByInquiryFactoryRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Approver1__c</field>
            <value>
                <elementReference>$Record.CreatedBy.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BU__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.BU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidForm__c</field>
            <value>
                <elementReference>BidForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidName__c</field>
            <value>
                <elementReference>NameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConstructionClassification__c</field>
            <value>
                <elementReference>ConstructionClassificationValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DetailAfterDesignFee__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Latest_Margin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedSales__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.ScheduledSalesDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExistingCompanyName1__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.EstablishedCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedOrderDate__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedOrder__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.OrderExpectation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityOverview__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.OpportunityOverview__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalContractFee__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Order_Margin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerCompany__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.PartnerCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimeSubContractor__c</field>
            <value>
                <elementReference>Replace_PrimeSubContractor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublicOrPrivateDemand__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.DemandOf__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBU__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.SBU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SingleTotalCP__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.EstimatedTotalCP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SingleTotalWC__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.EstimatedTotalWC1__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRecord1_2</name>
        <label>見積・応札伺いを更新する(BU除く)</label>
        <locationX>842</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>CreateDetailByInquiryFactoryRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Approver1__c</field>
            <value>
                <elementReference>$Record.CreatedBy.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidForm__c</field>
            <value>
                <elementReference>BidForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidName__c</field>
            <value>
                <elementReference>NameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConstructionClassification__c</field>
            <value>
                <elementReference>ConstructionClassificationValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedSales__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.ScheduledSalesDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExistingCompanyName1__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.EstablishedCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedOrderDate__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedOrder__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.OrderExpectation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityOverview__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.OpportunityOverview__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerCompany__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.PartnerCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimeSubContractor__c</field>
            <value>
                <elementReference>Replace_PrimeSubContractor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublicOrPrivateDemand__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.DemandOf__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBU__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.SBU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SingleTotalCP__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.EstimatedTotalCP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SingleTotalWC__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.EstimatedTotalWC1__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRecord1_3</name>
        <label>見積・応札伺いを更新する</label>
        <locationX>1106</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>CreateDetailByInquiryFactoryRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Approver1__c</field>
            <value>
                <elementReference>$Record.CreatedBy.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BU__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.BU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidForm__c</field>
            <value>
                <elementReference>BidForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidName__c</field>
            <value>
                <elementReference>NameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConstructionClassification__c</field>
            <value>
                <elementReference>ConstructionClassificationValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DetailAfterDesignFee__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Latest_Margin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedSales__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.ScheduledSalesDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExistingCompanyName1__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.EstablishedCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedOrderDate__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedOrder__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.OrderExpectation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityOverview__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.OpportunityOverview__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalContractFee__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Order_Margin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerCompany__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.PartnerCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimeSubContractor__c</field>
            <value>
                <elementReference>Replace_PrimeSubContractor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublicOrPrivateDemand__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.DemandOf__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBU__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.SBU__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRecord1_4</name>
        <label>見積・応札伺いを更新する(BU除く)</label>
        <locationX>1370</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>CreateDetailByInquiryFactoryRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Approver1__c</field>
            <value>
                <elementReference>$Record.CreatedBy.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidForm__c</field>
            <value>
                <elementReference>BidForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidName__c</field>
            <value>
                <elementReference>NameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConstructionClassification__c</field>
            <value>
                <elementReference>ConstructionClassificationValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedSales__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.ScheduledSalesDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExistingCompanyName1__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.EstablishedCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedOrderDate__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedOrder__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.OrderExpectation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityOverview__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.OpportunityOverview__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerCompany__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.PartnerCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimeSubContractor__c</field>
            <value>
                <elementReference>Replace_PrimeSubContractor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublicOrPrivateDemand__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.DemandOf__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBU__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.SBU__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRecord2_1</name>
        <label>見積・応札伺いを更新する</label>
        <locationX>1634</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>CreateDetailByInquiryFactoryRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>AdditionalPostInquiryApplication__c</field>
            <value>
                <elementReference>$Record.AdditionalPostInquiryApplication__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver1__c</field>
            <value>
                <elementReference>$Record.CreatedBy.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BU__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.BU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency1Fee__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Margin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency1StoreName__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Agency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidEntryApplicationPeriod__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BidEntryApplicationPeriod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidForm__c</field>
            <value>
                <elementReference>BidForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidName__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BidName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidOpeningDay__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BidOpeningDay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidOpeningTime__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BidOpeningTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidStyle__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BidStyle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BiddingDate__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BiddingDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BiddingMethod__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BiddingMethod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BiddingSystem__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BiddingSystem__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BiddingTime__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BiddingTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BudgetInfo__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BudgetInfo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConstructionClassification__c</field>
            <value>
                <elementReference>ConstructionClassificationValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliveryDate__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.DeliveryDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DetailedStatementNecessity__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.DetailedStatementNecessity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedSales__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.ScheduledSalesDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExistingCompanyName1__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.EstablishedCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedOrderDate__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedOrder__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.OrderExpectation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvitationToTenderDate__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.InvitationToTenderDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityOverview__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.OpportunityOverview__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerCompany__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.PartnerCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimeSubContractor__c</field>
            <value>
                <elementReference>Replace_PrimeSubContractor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublicOrPrivateDemand__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.DemandOf__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuestionAnswerDate__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.QuestionAnswerDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuestionSubmissionPeriod__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.QuestionSubmissionPeriod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBU__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.SBU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SingleTotalCP__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.EstimatedTotalCP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SingleTotalWC__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.EstimatedTotalWC1__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRecord2_2</name>
        <label>見積・応札伺いを更新する(BU除く)</label>
        <locationX>1898</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>CreateDetailByInquiryFactoryRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>AdditionalPostInquiryApplication__c</field>
            <value>
                <elementReference>$Record.AdditionalPostInquiryApplication__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver1__c</field>
            <value>
                <elementReference>$Record.CreatedBy.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency1Fee__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Margin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency1StoreName__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Agency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidEntryApplicationPeriod__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BidEntryApplicationPeriod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidForm__c</field>
            <value>
                <elementReference>BidForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidName__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BidName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidOpeningDay__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BidOpeningDay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidOpeningTime__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BidOpeningTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidStyle__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BidStyle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BiddingDate__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BiddingDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BiddingMethod__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BiddingMethod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BiddingSystem__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BiddingSystem__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BiddingTime__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BiddingTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BudgetInfo__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BudgetInfo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConstructionClassification__c</field>
            <value>
                <elementReference>ConstructionClassificationValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliveryDate__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.DeliveryDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DetailedStatementNecessity__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.DetailedStatementNecessity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedSales__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.ScheduledSalesDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExistingCompanyName1__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.EstablishedCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedOrderDate__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedOrder__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.OrderExpectation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvitationToTenderDate__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.InvitationToTenderDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityOverview__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.OpportunityOverview__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerCompany__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.PartnerCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimeSubContractor__c</field>
            <value>
                <elementReference>Replace_PrimeSubContractor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublicOrPrivateDemand__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.DemandOf__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuestionAnswerDate__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.QuestionAnswerDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuestionSubmissionPeriod__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.QuestionSubmissionPeriod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBU__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.SBU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SingleTotalCP__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.EstimatedTotalCP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SingleTotalWC__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.EstimatedTotalWC1__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRecord2_3</name>
        <label>見積・応札伺いを更新する</label>
        <locationX>2162</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>CreateDetailByInquiryFactoryRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>AdditionalPostInquiryApplication__c</field>
            <value>
                <elementReference>$Record.AdditionalPostInquiryApplication__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver1__c</field>
            <value>
                <elementReference>$Record.CreatedBy.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BU__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.BU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency1Fee__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Margin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency1StoreName__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Agency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidEntryApplicationPeriod__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BidEntryApplicationPeriod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidForm__c</field>
            <value>
                <elementReference>BidForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidName__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BidName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidOpeningDay__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BidOpeningDay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidOpeningTime__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BidOpeningTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidStyle__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BidStyle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BiddingDate__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BiddingDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BiddingMethod__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BiddingMethod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BiddingSystem__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BiddingSystem__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BiddingTime__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BiddingTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BudgetInfo__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BudgetInfo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConstructionClassification__c</field>
            <value>
                <elementReference>ConstructionClassificationValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliveryDate__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.DeliveryDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DetailedStatementNecessity__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.DetailedStatementNecessity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedSales__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.ScheduledSalesDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExistingCompanyName1__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.EstablishedCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedOrderDate__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedOrder__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.OrderExpectation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvitationToTenderDate__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.InvitationToTenderDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityOverview__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.OpportunityOverview__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerCompany__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.PartnerCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimeSubContractor__c</field>
            <value>
                <elementReference>Replace_PrimeSubContractor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublicOrPrivateDemand__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.DemandOf__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuestionAnswerDate__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.QuestionAnswerDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuestionSubmissionPeriod__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.QuestionSubmissionPeriod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBU__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.SBU__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRecord2_4</name>
        <label>見積・応札伺いを更新する(BU除く)</label>
        <locationX>2426</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>CreateDetailByInquiryFactoryRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>AdditionalPostInquiryApplication__c</field>
            <value>
                <elementReference>$Record.AdditionalPostInquiryApplication__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver1__c</field>
            <value>
                <elementReference>$Record.CreatedBy.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency1Fee__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Margin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency1StoreName__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Agency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidEntryApplicationPeriod__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BidEntryApplicationPeriod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidForm__c</field>
            <value>
                <elementReference>BidForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidName__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BidName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidOpeningDay__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BidOpeningDay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidOpeningTime__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BidOpeningTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidStyle__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BidStyle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BiddingDate__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BiddingDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BiddingMethod__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BiddingMethod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BiddingSystem__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BiddingSystem__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BiddingTime__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BiddingTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BudgetInfo__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BudgetInfo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConstructionClassification__c</field>
            <value>
                <elementReference>ConstructionClassificationValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliveryDate__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.DeliveryDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DetailedStatementNecessity__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.DetailedStatementNecessity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedSales__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.ScheduledSalesDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExistingCompanyName1__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.EstablishedCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedOrderDate__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedOrder__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.OrderExpectation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvitationToTenderDate__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.InvitationToTenderDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityOverview__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.OpportunityOverview__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerCompany__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.PartnerCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimeSubContractor__c</field>
            <value>
                <elementReference>Replace_PrimeSubContractor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PublicOrPrivateDemand__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.DemandOf__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuestionAnswerDate__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.QuestionAnswerDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuestionSubmissionPeriod__c</field>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.QuestionSubmissionPeriod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBU__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.SBU__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetRecordTypeName</targetReference>
        </connector>
        <object>QuoteBiddingInquiry__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>CreateDetailByInquiryFactoryRecord</name>
        <label>伺い明細レコード自動作成</label>
        <locationX>1502</locationX>
        <locationY>1439</locationY>
        <flowName>CreateDetailByInquiryFactoryRecords</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>CreateDetailByInquiryFactoryRecordFromSR</name>
        <label>伺い明細自動作成(SR情報から)</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <flowName>CreateDetailByInquiryFactoryRecords</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
