force-app/main/default/flows/CreateQuoteBiddingInquiryFromOpportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>goToNewRecord</name>
        <label>画面遷移</label>
        <locationX>402</locationX>
        <locationY>1514</locationY>
        <actionName>ecflc:flowURLRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>urlRedirect</name>
            <value>
                <stringValue>/{!NewRecordId}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowURLRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>add</name>
        <label>件数加算</label>
        <locationX>490</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>recordCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCheckBox</name>
        <label>チェックボックスの値を割り当て</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>isInputFreeContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputFreeContract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isInputSpecialInprofitProject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputSpecialInprofitProject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isInputRefusal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputRefusal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isInputUnitPriceEstimation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputUnitPriceEstimation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isInputPriceList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputPriceList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isInputMultiCompSameAnswer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputMultiCompSameAnswer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetStrRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetStrRecordType</name>
        <label>レコードタイプ選択値を割り当て</label>
        <locationX>402</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>StrRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputRecordType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCount</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChangedRecord</name>
        <choiceText>変更</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>変更​</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewRecord</name>
        <choiceText>新規</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>新規</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckApprover1</name>
        <label>申請部門承認者1のチェック</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>showError1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>チェックNG</defaultConnectorLabel>
        <rules>
            <name>CheckApprover1OK</name>
            <conditionLogic>(1 AND 2 AND 3) OR 4 OR (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>InputApprovalPattern</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>手動設定</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LookUp_Approver1.recordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LookUp_Approver1.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputApprovalPattern</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>自動設定</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputApprovalPattern</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputApprovalPattern</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckOppConstructionDistinction</targetReference>
            </connector>
            <label>チェックOK</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOppConstructionDistinction</name>
        <label>案件の工事区分チェック</label>
        <locationX>226</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>SetCheckBox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>チェックOK</defaultConnectorLabel>
        <rules>
            <name>CheckOppConstructionDistinctionNG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeT</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetSelectedOpportunity.ConstructionDistinction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>その他</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showError2</targetReference>
            </connector>
            <label>チェックNG</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Cons_ApprovalPatternList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ApprovalPattern__c</picklistField>
        <picklistObject>QuoteBiddingInquiry__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Cons_BUList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BU__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Cons_FreeContractOrBidList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FreeContractOrBid__c</picklistField>
        <picklistObject>QuoteBiddingInquiry__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Cons_ProjectScaleList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OpportunityScale__c</picklistField>
        <picklistObject>QuoteBiddingInquiry__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Cons_PublicOrPrivateDemandList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PublicOrPrivateDemand__c</picklistField>
        <picklistObject>QuoteBiddingInquiry__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Cons_RequestClassificationList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RequestClassification__c</picklistField>
        <picklistObject>QuoteBiddingInquiry__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SearchResultRecordType</name>
        <collectionReference>GetRecordType</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>getSelectedOpportunityBU</name>
        <dataType>String</dataType>
        <expression>IF (ISBLANK({!LookUp_Opportunity.recordId}), {!DropdownList_BU}, TEXT({!GetSelectedOpportunity.BU__c}))</expression>
    </formulas>
    <formulas>
        <name>isInputFreeContractValue</name>
        <dataType>Boolean</dataType>
        <expression>IF(
{!isInputFreeContract} != true,
false,
true
)</expression>
    </formulas>
    <formulas>
        <name>isInputMultiCompSameAnswerValue</name>
        <dataType>Boolean</dataType>
        <expression>IF(
{!isInputMultiCompSameAnswer} != true,
false,
true
)</expression>
    </formulas>
    <formulas>
        <name>isInputPriceListValue</name>
        <dataType>Boolean</dataType>
        <expression>if(
{!isInputPriceList}  != true,
false,
true
)</expression>
    </formulas>
    <formulas>
        <name>isInputRefusalValue</name>
        <dataType>Boolean</dataType>
        <expression>if(
{!isInputRefusal}  != true,
false,
true
)</expression>
    </formulas>
    <formulas>
        <name>isInputRequestClassificationValue</name>
        <dataType>String</dataType>
        <expression>if(
{!InputRequestClassification}  == null,
&apos;伺い申請&apos;,
{!InputRequestClassification}
)</expression>
    </formulas>
    <formulas>
        <name>isInputSpecialInprofitProjectValue</name>
        <dataType>Boolean</dataType>
        <expression>if(
{!isInputSpecialInprofitProject}  = true,
true,
false
)</expression>
    </formulas>
    <formulas>
        <name>isInputUnitPriceEstimationValue</name>
        <dataType>Boolean</dataType>
        <expression>if(
{!isInputUnitPriceEstimation}  != true,
false,
true
)</expression>
    </formulas>
    <formulas>
        <name>isNewChangedValue</name>
        <dataType>String</dataType>
        <expression>if(
{!NewChanged}  == null,
&apos;新規&apos;,
{!NewChanged}
)</expression>
    </formulas>
    <formulas>
        <name>LastCustomerId</name>
        <dataType>String</dataType>
        <expression>IF({!isInputPriceList},
{!LookUp_LastCustomer_Manual.recordId},
{!LookUp_LastCustomer.recordId}
)</expression>
    </formulas>
    <formulas>
        <name>newVer</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT({!recordCount}+1), 2, &quot;0&quot;)</expression>
    </formulas>
    <formulas>
        <name>RecordTypeJ</name>
        <dataType>String</dataType>
        <expression>{!$Label.RecordTypeJ}</expression>
    </formulas>
    <formulas>
        <name>RecordTypeM</name>
        <dataType>String</dataType>
        <expression>{!$Label.RecordTypeM}</expression>
    </formulas>
    <formulas>
        <name>RecordTypeO</name>
        <dataType>String</dataType>
        <expression>{!$Label.RecordTypeO}</expression>
    </formulas>
    <formulas>
        <name>RecordTypeSH</name>
        <dataType>String</dataType>
        <expression>{!$Label.RecordTypeSH}</expression>
    </formulas>
    <formulas>
        <name>RecordTypeT</name>
        <dataType>String</dataType>
        <expression>{!$Label.RecordTypeT}</expression>
    </formulas>
    <interviewLabel>案件から見積・応札伺い作成フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>案件から見積・応札伺い作成フロー</label>
    <loops>
        <name>setCount</name>
        <label>伺い件数設定</label>
        <locationX>402</locationX>
        <locationY>1106</locationY>
        <collectionReference>getCount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>InsertQuoteBiddingInquiry</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>InsertQuoteBiddingInquiry</name>
        <label>見積・応札伺いを作成</label>
        <locationX>402</locationX>
        <locationY>1406</locationY>
        <assignRecordIdToReference>NewRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>goToNewRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Agency1StoreName__c</field>
            <value>
                <elementReference>LookUp_Agency1Name.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agency2Name__c</field>
            <value>
                <elementReference>LookUp_Agency2Name.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agency3Name__c</field>
            <value>
                <elementReference>LookUp_Agency3Name.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApprovalPattern__c</field>
            <value>
                <elementReference>InputApprovalPattern</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver10__c</field>
            <value>
                <elementReference>LookUp_Approver10.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver1__c</field>
            <value>
                <elementReference>LookUp_Approver1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver2__c</field>
            <value>
                <elementReference>LookUp_Approver2.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver3__c</field>
            <value>
                <elementReference>LookUp_Approver3.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver4__c</field>
            <value>
                <elementReference>LookUp_Approver4.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver5__c</field>
            <value>
                <elementReference>LookUp_Approver5.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver6__c</field>
            <value>
                <elementReference>LookUp_Approver6.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver7__c</field>
            <value>
                <elementReference>LookUp_Approver7.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BU__c</field>
            <value>
                <elementReference>getSelectedOpportunityBU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Creating__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FreeContract__c</field>
            <value>
                <elementReference>isInputFreeContractValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HeadOfficeResponceDeadline__c</field>
            <value>
                <elementReference>InputHeadOfficeResponceDeadline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastCustomer__c</field>
            <value>
                <elementReference>LastCustomerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MentionTarget1__c</field>
            <value>
                <elementReference>LookUp_MentionTarget1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MentionTarget2__c</field>
            <value>
                <elementReference>LookUp_MentionTarget2.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MentionTarget3__c</field>
            <value>
                <elementReference>LookUp_MentionTarget3.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MultiCompSameAnswer__c</field>
            <value>
                <elementReference>isInputMultiCompSameAnswerValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewChanged__c</field>
            <value>
                <elementReference>isNewChangedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityScale__c</field>
            <value>
                <elementReference>InputProjectScale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>LookUp_Opportunity.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PriceList__c</field>
            <value>
                <elementReference>isInputPriceListValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>StrRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refusal__c</field>
            <value>
                <elementReference>isInputRefusalValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestClassification__c</field>
            <value>
                <elementReference>isInputRequestClassificationValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpecialInprofitProject__c</field>
            <value>
                <elementReference>isInputSpecialInprofitProjectValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TLApprover__c</field>
            <value>
                <elementReference>LookUp_TLApprover.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPriceEstimation__c</field>
            <value>
                <elementReference>isInputUnitPriceEstimationValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isFromOpp__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ver__c</field>
            <value>
                <elementReference>newVer</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteBiddingInquiry__c</object>
    </recordCreates>
    <recordLookups>
        <name>getCount</name>
        <label>伺いの件数を取得</label>
        <locationX>402</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LookUp_Opportunity.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StrRecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteBiddingInquiry__c</object>
        <sortField>ver__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>案件取得</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InputDetail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>recordIds</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Client__c</queriedFields>
        <queriedFields>Agency__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRecordType</name>
        <label>レコードタイプを取得</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QuoteBiddingInquiry__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>Description</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSelectedOpportunity</name>
        <label>入力された案件取得</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckApprover1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LookUp_Opportunity.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>InputDetail</name>
        <label>項目を入力する画面</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetSelectedOpportunity</targetReference>
        </connector>
        <fields>
            <name>header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;伺い作成&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InputDetail_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>InputDetail_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InputRecordType</name>
                    <choiceReferences>SearchResultRecordType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>伺い種別</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>NewChanged</name>
                    <choiceReferences>NewRecord</choiceReferences>
                    <choiceReferences>ChangedRecord</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>NewRecord</defaultSelectedChoiceReference>
                    <fieldText>新規・変更</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>InputRecordType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>RecordTypeT</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>InputDetail_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DetailInfo</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;追加情報﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>InputRecordType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>RecordTypeO</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>InputRecordType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>RecordTypeM</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>InputSpecialInprofitProject</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>特別不採算</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>InputRecordType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>RecordTypeM</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>InputRecordType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>RecordTypeO</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>InputFreeContract</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>随契</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>InputRecordType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>RecordTypeM</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>InputRecordType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>RecordTypeO</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>InputRefusal</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>辞退</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>InputRecordType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>RecordTypeM</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>InputRecordType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>RecordTypeO</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>InputUnitPriceEstimation</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>単価見積</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>InputRecordType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>RecordTypeM</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>InputPriceList</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>価格表</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>InputRecordType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>RecordTypeM</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>InputRecordType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>RecordTypeO</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>InputMultiCompSameAnswer</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>複数社同額回答</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>InputRecordType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>RecordTypeM</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>LookUp_Opportunity</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>案件</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>QuoteBiddingInquiry__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Opportunity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordIds.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DropdownList_BU</name>
            <choiceReferences>Cons_BUList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>BU</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LookUp_Opportunity.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LookUp_Agency1Name</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>QuoteBiddingInquiry__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Agency1StoreName__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>代理店1_店名</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordIds.Agency__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InputRecordType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RecordTypeT</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LookUp_Agency2Name</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>QuoteBiddingInquiry__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Agency2Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>代理店2_店名</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InputRecordType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RecordTypeT</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LookUp_Agency3Name</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>QuoteBiddingInquiry__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Agency3Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>代理店3_店名</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InputRecordType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RecordTypeT</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InputProjectScale</name>
            <choiceReferences>Cons_ProjectScaleList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>案件規模(1億円以上/未満）</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;見積辞退は受注時見込CP、応札辞退は推定予定価格を基準とする&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>(1 OR 2 OR 4) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>InputRecordType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RecordTypeO</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>InputRecordType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RecordTypeSH</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>InputRefusal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>InputRecordType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RecordTypeM</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InputRequestClassification</name>
            <choiceReferences>Cons_RequestClassificationList</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>伺い申請</stringValue>
            </defaultValue>
            <fieldText>申請区分</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>InputRecordType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RecordTypeO</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>InputRecordType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RecordTypeSH</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InputApprovalPattern</name>
            <choiceReferences>Cons_ApprovalPatternList</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>自動設定</stringValue>
            </defaultValue>
            <fieldText>承認者設定方法(自動／手動）</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;承認者を手動で指定する場合は「手動設定」を選択&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>InputDetail_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>InputDetail_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LookUp_Approver1</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>QuoteBiddingInquiry__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Approver1__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>申請部門承認者1</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>LookUp_Approver2</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>QuoteBiddingInquiry__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Approver2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>申請部門承認者2</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>LookUp_Approver3</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Approver3__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>QuoteBiddingInquiry__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>申請部門承認者3</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>LookUp_Approver4</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Approver4__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>QuoteBiddingInquiry__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>承認部門承認者1</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>LookUp_Approver5</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Approver5__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>QuoteBiddingInquiry__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>承認部門承認者2</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>LookUp_Approver6</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Approver6__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>QuoteBiddingInquiry__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>承認部門承認者3</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>LookUp_Approver7</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Approver7__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>QuoteBiddingInquiry__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>承認部門承認者4</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>LookUp_Approver10</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Approver10__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>QuoteBiddingInquiry__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>最終承認者</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InputApprovalPattern</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>手動設定</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InputHeadOfficeResponceDeadline</name>
            <dataType>Date</dataType>
            <fieldText>伺い承認期限</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LookUp_LastCustomer</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>LastCustomer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>最終顧客</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>QuoteBiddingInquiry__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordIds.Client__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>InputPriceList</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>InputRecordType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RecordTypeO</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>InputRecordType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RecordTypeSH</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>InputRecordType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RecordTypeJ</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>InputRecordType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RecordTypeT</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LookUp_LastCustomer_Manual</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>QuoteBiddingInquiry__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>LastCustomer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>最終顧客</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordIds.Client__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InputPriceList</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LookUp_TLApprover</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>TL承認者</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>TLApprover__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>QuoteBiddingInquiry__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LookUp_MentionTarget1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>メンション先_1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>QuoteBiddingInquiry__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>MentionTarget1__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LookUp_MentionTarget2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>メンション先_2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>QuoteBiddingInquiry__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>MentionTarget2__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LookUp_MentionTarget3</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>メンション先_3</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>QuoteBiddingInquiry__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>MentionTarget3__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>作成</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>showError1</name>
        <label>エラー画面1</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>InputDetail</targetReference>
        </connector>
        <fields>
            <name>errorMessage1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(255, 0, 0);&quot;&gt;承認パターンが承認者手動設定の場合、申請部門承認者1は必須です。&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showError2</name>
        <label>エラー画面2</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>InputDetail</targetReference>
        </connector>
        <fields>
            <name>X1_errorMessage1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 18px;&quot;&gt;選択した案件の工事区分が「その他」のため、手数料伺いは作成できません。&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isInputFreeContract</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isInputMultiCompSameAnswer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isInputPriceList</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isInputRefusal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isInputSpecialInprofitProject</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isInputUnitPriceEstimation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NewRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>StrRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
