force-app/main/default/flows/CreateDetailByInquiryFactoryRecords.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>B02</name>
        <label>伺い明細割り当て</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ukaRecord.BU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>B01.BU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ukaRecord.CommonRatio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_CommonRatio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ukaRecord.CP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>B01.SR_CP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ukaRecord.Factory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>B01.Factory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ukaRecord.QuoteBiddingInquiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ukaRecord.WC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>B01.SRWC__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>B03</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>B03</name>
        <label>伺い明細コレクション割り当て</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ukaRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ukaRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>B01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getSRLocationName</name>
        <label>場所名称取得</label>
        <locationX>12190</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>SRLocationName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSRList.LocationName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckLocationName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommonRatio_D_23</name>
        <label>共通比率設定(23% ： 製作所)</label>
        <locationX>13466</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NewCommonRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>23% ： 製作所</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommonRatio_D_25</name>
        <label>共通比率設定(25% ： 製作所)</label>
        <locationX>13994</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NewCommonRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>25% ： 製作所</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommonRatio_D_31</name>
        <label>共通比率設定(31% ： 製作所)</label>
        <locationX>13730</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NewCommonRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>31% ： 製作所</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommonRatio_D_33</name>
        <label>共通比率設定(33% ： 製作所)</label>
        <locationX>13202</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NewCommonRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>33% ： 製作所</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommonRatio_Other_12</name>
        <label>共通比率設定(12% ： 他社品)</label>
        <locationX>14698</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NewCommonRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>12% ： 他社品</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommonRatio_Other_17</name>
        <label>共通比率設定(17% ： 他社品)</label>
        <locationX>15226</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NewCommonRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>17% ： 他社品</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommonRatio_Other_18</name>
        <label>共通比率設定(18% ： 他社品)</label>
        <locationX>14962</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NewCommonRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>18% ： 他社品</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommonRatio_Other_20</name>
        <label>共通比率設定(20% ： 他社品)</label>
        <locationX>14434</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NewCommonRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>20% ： 他社品</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommonRatio_PL_15</name>
        <label>共通比率設定(15% ： プラ統)</label>
        <locationX>11002</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NewCommonRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>15% ： プラ統</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommonRatio_PL_19</name>
        <label>共通比率設定(19% ： プラ統)</label>
        <locationX>11530</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NewCommonRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>19% ： プラ統</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommonRatio_PL_20</name>
        <label>共通比率設定(20% ： プラ統)</label>
        <locationX>11266</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NewCommonRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>20% ： プラ統</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommonRatio_PL_21</name>
        <label>共通比率設定(21% ： プラ統)</label>
        <locationX>10738</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NewCommonRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>21% ： プラ統</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommonRatio_TD_19</name>
        <label>共通比率設定(19% ： 通プラ（機種コード：97）)</label>
        <locationX>12234</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NewCommonRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>19% ： 通プラ（機種コード：97）</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommonRatio_TD_23</name>
        <label>共通比率設定(23% ： 通プラ（機種コード：97）)</label>
        <locationX>12762</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NewCommonRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>23% ： 通プラ（機種コード：97）</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommonRatio_TD_27</name>
        <label>共通比率設定(27% ： 通プラ（機種コード：97）)</label>
        <locationX>12498</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NewCommonRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>27% ： 通プラ（機種コード：97）</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommonRatio_TD_29</name>
        <label>共通比率設定(29% ： 通プラ（機種コード：97）)</label>
        <locationX>11970</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NewCommonRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>29% ： 通プラ（機種コード：97）</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommonRatio_XO_14</name>
        <label>共通比率設定(14% ： 製作所移牒他社品調達（機種コード：XO）)</label>
        <locationX>9066</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>NewCommonRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>14% ： 製作所移牒他社品調達（機種コード：XO）</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommonRatio_XO_15</name>
        <label>共通比率設定(15% ： 製作所移牒他社品調達（機種コード：XO）)</label>
        <locationX>8802</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>NewCommonRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>15% ： 製作所移牒他社品調達（機種コード：XO）</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommonRatio_XO_17</name>
        <label>共通比率設定(17% ： 製作所移牒他社品調達（機種コード：XO）)</label>
        <locationX>8274</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>NewCommonRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>17% ： 製作所移牒他社品調達（機種コード：XO）</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommonRatio_XO_9</name>
        <label>共通比率設定(9% ： 製作所移牒他社品調達（機種コード：XO）)</label>
        <locationX>8538</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>NewCommonRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>9% ： 製作所移牒他社品調達（機種コード：XO）</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommonRatio_YO_11</name>
        <label>共通比率設定(11% ： 神電移牒TMEIC製品（機種コード：YO）)</label>
        <locationX>9770</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>NewCommonRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>11% ： 神電移牒TMEIC製品（機種コード：YO）</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommonRatio_YO_16</name>
        <label>共通比率設定(16% ： 神電移牒TMEIC製品（機種コード：YO）)</label>
        <locationX>10298</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>NewCommonRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>16% ： 神電移牒TMEIC製品（機種コード：YO）</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommonRatio_YO_17</name>
        <label>共通比率設定(17% ： 神電移牒TMEIC製品（機種コード：YO）)</label>
        <locationX>10034</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>NewCommonRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>17% ： 神電移牒TMEIC製品（機種コード：YO）</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCommonRatio_YO_19</name>
        <label>共通比率設定(19% ： 神電移牒TMEIC製品（機種コード：YO）)</label>
        <locationX>9506</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>NewCommonRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>19% ： 神電移牒TMEIC製品（機種コード：YO）</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDetailByInquiryFactory</name>
        <label>伺い明細割り当て</label>
        <locationX>12190</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>ukaRecord.BU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOppInfo.BU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ukaRecord.Factory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSRList.CRM_Factory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ukaRecord.QuoteBiddingInquiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ukaRecord.OriginalContractCP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSRList.Order_SRCP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ukaRecord.OriginalContractWC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSRList.Order_SRWC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ukaRecord.NewContractCP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSRList.Latest_SRCP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ukaRecord.NewContractWC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSRList.Latest_SRWC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ukaRecord.CommonRatio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCommonRatio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ukaRecord.isFromOpportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDetailByInquiryFactoryList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDetailByInquiryFactoryList</name>
        <label>伺い明細コレクション割り当て</label>
        <locationX>12190</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>ukaRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ukaRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSRList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ChackModelCode</name>
        <label>機種コード確認</label>
        <locationX>9418</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>CheckBU_YO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Y0</defaultConnectorLabel>
        <rules>
            <name>codeX0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopSRList.ModelCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>X0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckBU_XO</targetReference>
            </connector>
            <label>X0</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBU_D</name>
        <label>BU確認</label>
        <locationX>13730</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>その他</defaultConnectorLabel>
        <rules>
            <name>SKK_D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppInfo.BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>水環境</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommonRatio_D_33</targetReference>
            </connector>
            <label>水環境</label>
        </rules>
        <rules>
            <name>SS_D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppInfo.BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>施設</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommonRatio_D_23</targetReference>
            </connector>
            <label>施設</label>
        </rules>
        <rules>
            <name>KJ_D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppInfo.BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>官需</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommonRatio_D_31</targetReference>
            </connector>
            <label>官需</label>
        </rules>
        <rules>
            <name>KK_D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppInfo.BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>官公情報</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommonRatio_D_25</targetReference>
            </connector>
            <label>官公情報</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBU_Other</name>
        <label>BU確認</label>
        <locationX>14962</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>その他</defaultConnectorLabel>
        <rules>
            <name>SKK_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppInfo.BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>水環境</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommonRatio_Other_20</targetReference>
            </connector>
            <label>水環境</label>
        </rules>
        <rules>
            <name>SS_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppInfo.BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>施設</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommonRatio_Other_12</targetReference>
            </connector>
            <label>施設</label>
        </rules>
        <rules>
            <name>KJ_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppInfo.BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>官需</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommonRatio_Other_18</targetReference>
            </connector>
            <label>官需</label>
        </rules>
        <rules>
            <name>KK_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppInfo.BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>官公情報</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommonRatio_Other_17</targetReference>
            </connector>
            <label>官公情報</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBU_PL</name>
        <label>BU確認</label>
        <locationX>11266</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>その他</defaultConnectorLabel>
        <rules>
            <name>SKK_PL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppInfo.BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>水環境</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommonRatio_PL_21</targetReference>
            </connector>
            <label>水環境</label>
        </rules>
        <rules>
            <name>SS_PL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppInfo.BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>施設</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommonRatio_PL_15</targetReference>
            </connector>
            <label>施設</label>
        </rules>
        <rules>
            <name>KJ_PL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppInfo.BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>官需</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommonRatio_PL_20</targetReference>
            </connector>
            <label>官需</label>
        </rules>
        <rules>
            <name>KK_PL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppInfo.BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>官公情報</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommonRatio_PL_19</targetReference>
            </connector>
            <label>官公情報</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBU_TD</name>
        <label>BU確認</label>
        <locationX>12498</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>その他</defaultConnectorLabel>
        <rules>
            <name>SKK_TD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppInfo.BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>水環境</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommonRatio_TD_29</targetReference>
            </connector>
            <label>水環境</label>
        </rules>
        <rules>
            <name>SS_TD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppInfo.BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>施設</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommonRatio_TD_19</targetReference>
            </connector>
            <label>施設</label>
        </rules>
        <rules>
            <name>KJ_TD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppInfo.BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>官需</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommonRatio_TD_27</targetReference>
            </connector>
            <label>官需</label>
        </rules>
        <rules>
            <name>KK_TD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppInfo.BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>官公情報</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommonRatio_TD_23</targetReference>
            </connector>
            <label>官公情報</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBU_XO</name>
        <label>BU確認</label>
        <locationX>8802</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>その他</defaultConnectorLabel>
        <rules>
            <name>SKK_XO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppInfo.BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>水環境</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommonRatio_XO_17</targetReference>
            </connector>
            <label>水環境</label>
        </rules>
        <rules>
            <name>SS_XO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppInfo.BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>施設</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommonRatio_XO_9</targetReference>
            </connector>
            <label>施設</label>
        </rules>
        <rules>
            <name>KJ_XO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppInfo.BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>官需</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommonRatio_XO_15</targetReference>
            </connector>
            <label>官需</label>
        </rules>
        <rules>
            <name>KK_XO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppInfo.BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>官公情報</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommonRatio_XO_14</targetReference>
            </connector>
            <label>官公情報</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBU_YO</name>
        <label>BU確認</label>
        <locationX>10034</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>SetDetailByInquiryFactory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>その他</defaultConnectorLabel>
        <rules>
            <name>SKK_YO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppInfo.BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>水環境</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommonRatio_YO_19</targetReference>
            </connector>
            <label>水環境</label>
        </rules>
        <rules>
            <name>SS_YO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppInfo.BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>施設</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommonRatio_YO_11</targetReference>
            </connector>
            <label>施設</label>
        </rules>
        <rules>
            <name>KJ_YO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppInfo.BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>官需</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommonRatio_YO_17</targetReference>
            </connector>
            <label>官需</label>
        </rules>
        <rules>
            <name>KK_YO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppInfo.BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>官公情報</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCommonRatio_YO_16</targetReference>
            </connector>
            <label>官公情報</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLocationName</name>
        <label>場所名称確認</label>
        <locationX>12190</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>CheckBU_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>その他</defaultConnectorLabel>
        <rules>
            <name>XD</name>
            <conditionLogic>1 AND ( 2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>LoopSRList.LocationName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>神電</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopSRList.ModelCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>X0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopSRList.ModelCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChackModelCode</targetReference>
            </connector>
            <label>神電</label>
        </rules>
        <rules>
            <name>PL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopSRList.LocationName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>プラ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckBU_PL</targetReference>
            </connector>
            <label>「プラ」を含む</label>
        </rules>
        <rules>
            <name>TD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopSRList.LocationName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>通電</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopSRList.ModelCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>97</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckBU_TD</targetReference>
            </connector>
            <label>通電</label>
        </rules>
        <rules>
            <name>D</name>
            <conditionLogic>( 1 AND 2 AND 3 ) OR  4</conditionLogic>
            <conditions>
                <leftValueReference>LoopSRList.LocationName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>電</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopSRList.ModelCode__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>X0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopSRList.ModelCode__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Y0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopSRList.LocationName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>鎌ＩＳ推</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckBU_D</targetReference>
            </connector>
            <label>「電」を含む（ただし神電と通電は既出の機種コードの場合は除く）＋「鎌ＩＳ推」</label>
        </rules>
    </decisions>
    <decisions>
        <name>JugeRecordType</name>
        <label>レコードタイプを判定</label>
        <locationX>3942</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>GetOppInfo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>NoRelateOpportunity</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>oppId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oppId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>案件の紐づきが無い</label>
        </rules>
        <rules>
            <name>IsNotSH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRecordTypeRecord.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B01</targetReference>
            </connector>
            <label>設計変更応札伺い以外の場合</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>過去の共通費率を最新の共通費率に変換</description>
        <name>Formula_CommonRatio</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!B01.BU__c}, &apos;水環境&apos;),
    CASE(TEXT({!B01.CommonRatio1__c})
    , &apos;31% ： 製作所&apos;, &apos;33% ： 製作所&apos;
    , &apos;22% ： プラ統&apos;, &apos;21% ： プラ統&apos;
    ,TEXT({!B01.CommonRatio1__c}))
,IF(ISPICKVAL({!B01.BU__c}, &apos;施設&apos;),
    CASE(TEXT({!B01.CommonRatio1__c})
    , &apos;21% ： 製作所&apos;, &apos;23% ： 製作所&apos;
    , &apos;10% ： 製作所移牒他社品調達（機種コード：XO）&apos;, &apos;9% ： 製作所移牒他社品調達（機種コード：XO）&apos;
    , &apos;12% ： 神電移牒TMEIC製品（機種コード：YO）&apos;, &apos;11% ： 神電移牒TMEIC製品（機種コード：YO）&apos;
    , &apos;13% ： 他社品&apos;, &apos;12% ： 他社品&apos;
    ,TEXT({!B01.CommonRatio1__c}))
,IF(ISPICKVAL({!B01.BU__c}, &apos;官需&apos;),
    CASE(TEXT({!B01.CommonRatio1__c})
    , &apos;29% ： 製作所&apos;, &apos;31% ： 製作所&apos;
    ,TEXT({!B01.CommonRatio1__c}))
,TEXT({!B01.CommonRatio1__c}))))</expression>
    </formulas>
    <interviewLabel>伺い明細レコード自動作成new {!$Flow.CurrentDateTime}</interviewLabel>
    <label>伺い明細レコード自動作成</label>
    <loops>
        <name>B01</name>
        <label>場所別ループ</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>facRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>B02</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>A03</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopSRList</name>
        <label>SR情報ループ</label>
        <locationX>8186</locationX>
        <locationY>782</locationY>
        <collectionReference>GetSRInfo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getSRLocationName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>A03</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>A03</name>
        <label>伺い明細レコード作成</label>
        <locationX>3942</locationX>
        <locationY>2066</locationY>
        <inputReference>ukaRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>A01</name>
        <label>レコードタイプIdと案件のId取得</label>
        <locationX>3942</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>QuoteBiddingInquiry__c</object>
        <outputAssignments>
            <assignToReference>oppId</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>A02</name>
        <label>場所別レコード取得</label>
        <locationX>3942</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>JugeRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opp1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppId</elementReference>
            </value>
        </filters>
        <object>Factory__c</object>
        <outputReference>facRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BU__c</queriedFields>
        <queriedFields>SR_CP__c</queriedFields>
        <queriedFields>SRWC__c</queriedFields>
        <queriedFields>Factory__c</queriedFields>
        <queriedFields>CommonRatio1__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetOppInfo</name>
        <label>案件情報を取得</label>
        <locationX>8186</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSRInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeRecord</name>
        <label>レコードタイプ取得</label>
        <locationX>3942</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>A02</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSRInfo</name>
        <label>SR情報を取得</label>
        <locationX>8186</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopSRList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SRInfo__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>3816</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>A01</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>facRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Factory__c</objectType>
    </variables>
    <variables>
        <name>NewCommonRatio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SRLocationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ukaRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DetailByInquiryFactory__c</objectType>
    </variables>
    <variables>
        <name>ukaRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DetailByInquiryFactory__c</objectType>
    </variables>
</Flow>
