force-app/main/default/flows/CreatJVMemberRecordCopyItems.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>SetEvaluationResult</name>
        <label>評価結果を割り当て</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>evaluationResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>諾</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetEvaluationResult2</name>
        <label>評価結果を割り当て</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>evaluationResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>否</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsAccountAddressNull</name>
        <label>法人の住所判断</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>setItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>なし</defaultConnectorLabel>
        <rules>
            <name>notNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.BillingAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setItemIncludeAddress</targetReference>
            </connector>
            <label>あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>JugePoint</name>
        <label>属性性、輸管、契約、財務、技術で各1個以上、合計5以上判定</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>SetEvaluationResult2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isTrue</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6) AND (7 OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.JVMemberAttributeSurveyResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>〇</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.JVMemberCustomerSurveyResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>〇</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.JVMemberContractConfirmationResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>〇</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.JVMemberFinancialEvaluationCompanyTSR__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>〇</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.JVMemberFinancialEvaluationTradingAchiev__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>〇</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.JVMemberFinancialEvaluationRelatedCompan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>〇</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.JVMemberTechnologyEvaluationOurCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>〇</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.JVMemberTechnologyEvaluationOtherCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>〇</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.JVMemberTechnologyEvaluationSame__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>〇</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetEvaluationResult</targetReference>
            </connector>
            <label>5以上</label>
        </rules>
    </decisions>
    <description>住所移転フォーム修正</description>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>newAddress</name>
        <dataType>String</dataType>
        <expression>IF (!ISBLANK({!Account.BillingPostalCode}), {!Account.BillingPostalCode}&amp;&quot; &quot;, &quot;&quot;)
&amp;
IF (!ISBLANK({!Account.BillingState}), {!Account.BillingState}&amp;&quot; &quot;, &quot;&quot;)
&amp;
IF (!ISBLANK({!Account.BillingCity}), {!Account.BillingCity}&amp;&quot; &quot;, &quot;&quot;)
&amp;
IF (!ISBLANK({!Account.BillingStreet}), {!Account.BillingStreet}, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>JV構成員 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JV構成員作成フロー(項目転記)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>取引先レコード取得</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsAccountAddressNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CorporateName__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingAddress</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>setItem</name>
        <label>法人から項目転記</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>JVMemberEvaluationResult__c</field>
            <value>
                <elementReference>evaluationResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.CorporateName__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>setItemIncludeAddress</name>
        <label>法人から項目転記(住所含む)</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>JVMemberAddress__c</field>
            <value>
                <elementReference>newAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JVMemberEvaluationResult__c</field>
            <value>
                <elementReference>evaluationResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.CorporateName__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>JugePoint</targetReference>
        </connector>
        <object>JVMember__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>evaluationResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>否</stringValue>
        </value>
    </variables>
</Flow>
