force-app/main/default/flows/createTargerProcessInstanceIdList.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>createTargetProcessInstanceIdList</name>
        <label>処理対象プロセスインスタンスIDリストを作成</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>targetProcessInstanceIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTargetProcessInstanceList.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTargetProcessInstanceList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isUnapproved</name>
        <label>承認プロセスが未承認か</label>
        <locationX>396</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>loopTargetProcessInstanceList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>ProcessInstanceUnapproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopTargetProcessInstanceList.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createTargetProcessInstanceIdList</targetReference>
            </connector>
            <label>未承認</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>createTargerProcessInstanceIdList {!$Flow.CurrentDateTime}</interviewLabel>
    <label>処理対象プロセスインスタンスIDリストを作成</label>
    <loops>
        <name>loopTargetProcessInstanceList</name>
        <label>処理対象プロセスインスタンスリストをループ</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>getTargetProcessInstance</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isUnapproved</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>loopTargetProcessInstanceList</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>getTargetProcessInstance</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstance</objectType>
    </variables>
    <variables>
        <name>targetProcessInstanceIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
