force-app/main/default/flows/createReqTaskIdListAndGroupNameList.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>createGroupNameList</name>
        <label>グループ名リストを作成</label>
        <locationX>440</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>groupNameList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTargetRequestTasks.RequestTo__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getTargetRequestTaskIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getTargetRequestTaskIds</name>
        <label>処理対象依頼タスクID取得</label>
        <locationX>352</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>targetRequestTaskIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTargetRequestTasks.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTargetRequestTasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>依頼タスクリストにCCグループ名が含まれているか判定。
既に対象となるCCグループが含まれている場合はリストに追加しない。</description>
        <name>isIncludeCollaborationGroupName</name>
        <label>依頼タスクリストにCCグループ名が含まれているか</label>
        <locationX>352</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>createGroupNameList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>含まれていない</defaultConnectorLabel>
        <rules>
            <name>isInclude</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>groupNameList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopTargetRequestTasks.RequestTo__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTargetRequestTaskIds</targetReference>
            </connector>
            <label>含まれている</label>
        </rules>
    </decisions>
    <description>処理対象依頼タスクIDとChatterグループ名のリストを作成</description>
    <environments>Default</environments>
    <interviewLabel>依頼タスクIDとグループ名リストを作成 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>依頼タスクIDとグループ名リストを作成</label>
    <loops>
        <name>loopTargetRequestTasks</name>
        <label>処理対象依頼タスクをループ</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>targetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isIncludeCollaborationGroupName</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>loopTargetRequestTasks</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>groupNameList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>targetRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>RequestTask__c</objectType>
    </variables>
    <variables>
        <name>targetRequestTaskIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
