force-app/main/default/flows/createQueueIdList.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>createQueueIdList</name>
        <label>キューのIDリストを作成</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>queueIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopProcessInstanceWorkItemListForCheckActor.ActorId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopProcessInstanceWorkItemListForCheckActor</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isUserOrQueue</name>
        <label>現在の承認者がユーザかキューか</label>
        <locationX>396</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>loopProcessInstanceWorkItemListForCheckActor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>承認者がユーザ</defaultConnectorLabel>
        <rules>
            <name>isQueue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopProcessInstanceWorkItemListForCheckActor.ActorId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createQueueIdList</targetReference>
            </connector>
            <label>承認者がキュー</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>キューのIDリストを作成 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>キューのIDリストを作成</label>
    <loops>
        <name>loopProcessInstanceWorkItemListForCheckActor</name>
        <label>処理対象の承認申請リストをループ(現在の承認者の判定)</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>getTargetProcessInstanceWorkItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isUserOrQueue</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>loopProcessInstanceWorkItemListForCheckActor</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>getTargetProcessInstanceWorkItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstanceWorkitem</objectType>
    </variables>
    <variables>
        <name>queueIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
