force-app/main/default/flows/createQueueEmailList.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>createQueueEmailList</name>
        <label>キューのメールアドレスリストを作成</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>queueUserEmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopQueueList.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopQueueList</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>キューのメールアドレスリストを作成 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>キューのメールアドレスリストを作成</label>
    <loops>
        <name>loopQueueList</name>
        <label>キューリストをループ</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>getQueueRecordList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>createQueueEmailList</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>loopQueueList</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>getQueueRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>queueUserEmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
