force-app/main/default/flows/deadlineExcessAlert2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assignNullToTargetRecords</name>
        <label>依頼タスクリストをnullにする</label>
        <locationX>402</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>getTargetRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>incrementListCounterVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRecordNumberToVariable</name>
        <label>処理対象依頼タスクレコード件数を変数へ割り当て</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>targetRequestTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getTargetRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getTargetRequestTaskCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>31件目から60件目の処理対象依頼タスクレコードをコレクション変数に格納</description>
        <name>assignRequestTask31To60</name>
        <label>31件目から60件目の処理対象依頼タスクレコードをコレクション変数に格納</label>
        <locationX>138</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>targetRequestTaskList31To60</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTargetRequestTaskListForSplit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>incrementListCounterVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getTargetRequestTaskCount</name>
        <label>処理対象レコード総数を取得</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>targetRequestTaskCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetRequestTaskCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkListSizeOver30</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>リストカウンター変数をインクリメント</description>
        <name>incrementListCounterVariable</name>
        <label>リストカウンター変数をインクリメント</label>
        <locationX>270</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>listSizeCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTargetRequestTaskListForSplit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>前のフローで使用済みの依頼タスクを取得一覧から削除。
期限超過アラート2では1~30件目を処理対象から除外する。
削除する度にリストのインデックスが1から計算し直されるため、1件目を30回削除している。</description>
        <name>removeUsedVariableFromList</name>
        <label>前のフローで使用済みの依頼タスクを取得一覧から削除</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTargetRequestTaskListForSplit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>本フローでは処理対象となる依頼タスクリストの31~60件目を処理するため、対象依頼タスクが31件以上ない場合は本フローの処理を実施しない。</description>
        <name>checkListSizeOver30</name>
        <label>処理対象リストが30件を超えているか</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>対象が30件以下</defaultConnectorLabel>
        <rules>
            <name>over30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>targetRequestTaskCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>removeUsedVariableFromList</targetReference>
            </connector>
            <label>対象が30件を超えている</label>
        </rules>
    </decisions>
    <decisions>
        <description>処理対象依頼タスクレコードのうち31~60件目を処理対象リストに追加する際の判定処理。</description>
        <name>checkLoopIndex</name>
        <label>ループのインデックスを判定する</label>
        <locationX>270</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>assignNullToTargetRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>インデックスが30以上</defaultConnectorLabel>
        <rules>
            <name>isLoopIndexUnder30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>listSizeCounter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignRequestTask31To60</targetReference>
            </connector>
            <label>インデックスが30未満</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>orgUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_560} ,FIND(&quot;/services/Soap/&quot;, {!$Api.Partner_Server_URL_560}))</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>期限超過アラート {!$Flow.CurrentDateTime}</interviewLabel>
    <label>期限超過アラート2</label>
    <loops>
        <description>処理対象依頼タスクレコードを一定サイズのコレクション変数に格納するためのループ</description>
        <name>loopTargetRequestTaskListForSplit</name>
        <label>リスト分割のために処理対象依頼タスクレコードリストをループ</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <collectionReference>getTargetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkLoopIndex</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createReqTaskIdListAndGroupNameList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getTargetProcessInstance</name>
        <label>対象プロセスインスタンスを取得</label>
        <locationX>50</locationX>
        <locationY>1500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createTargerProcessInstanceIdList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>In</operator>
            <value>
                <elementReference>targetRequestTaskIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTargetProcessInstanceWorkItems</name>
        <label>処理対象の承認申請を取得</label>
        <locationX>50</locationX>
        <locationY>1716</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PostChatterToDeadlineExccessRequestTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>In</operator>
            <value>
                <elementReference>targetProcessInstanceIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <sortField>ProcessInstanceId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTargetRecords</name>
        <label>getTargetRecords</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignRecordNumberToVariable</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ( (3 AND 4) OR (5 AND 6) )</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>依頼作成</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>依頼先対応済/依頼完了</stringValue>
            </value>
        </filters>
        <filters>
            <field>DueDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </filters>
        <filters>
            <field>EstimatedAnswerDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EstimatedAnswerDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </filters>
        <filters>
            <field>EstimatedAnswerDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RequestTask__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getTargetRecords</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-08-26</startDate>
            <startTime>08:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>createReqTaskIdListAndGroupNameList</name>
        <label>依頼タスクIDとグループ名リストを作成</label>
        <locationX>50</locationX>
        <locationY>1392</locationY>
        <connector>
            <targetReference>getTargetProcessInstance</targetReference>
        </connector>
        <flowName>createReqTaskIdListAndGroupNameList</flowName>
        <inputAssignments>
            <name>targetRecords</name>
            <value>
                <elementReference>targetRequestTaskList31To60</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>targetRequestTaskIdList</assignToReference>
            <name>targetRequestTaskIds</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>createTargerProcessInstanceIdList</name>
        <label>処理対象プロセスインスタンスIDリストを作成</label>
        <locationX>50</locationX>
        <locationY>1608</locationY>
        <connector>
            <targetReference>getTargetProcessInstanceWorkItems</targetReference>
        </connector>
        <flowName>createTargerProcessInstanceIdList</flowName>
        <inputAssignments>
            <name>getTargetProcessInstance</name>
            <value>
                <elementReference>getTargetProcessInstance</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>targetProcessInstanceIdList</assignToReference>
            <name>targetProcessInstanceIdList</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PostChatterToDeadlineExccessRequestTask</name>
        <label>期限超過かつ未承認の承認申請のアラートChatter投稿</label>
        <locationX>50</locationX>
        <locationY>1824</locationY>
        <flowName>PostChatterToDeadlineExccessRequestTask</flowName>
        <inputAssignments>
            <name>getTargetProcessInstance</name>
            <value>
                <elementReference>getTargetProcessInstance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>getTargetProcessInstanceWorkItems</name>
            <value>
                <elementReference>getTargetProcessInstanceWorkItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>getTargetRecords</name>
            <value>
                <elementReference>targetRequestTaskList31To60</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>期限超過アラート対象の依頼タスクレコードが120件を超過している場合のCRM事務局グループへの通知メッセージ。</description>
        <name>crmAdminGroupChatterText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@(CRM事務局グループ)

回答期限を超過している依頼タスクレコード数が120件を超えています。
120件を超過している場合、期限超過アラートが正常に送信されません。

CRM利用ユーザに対して承認申請の滞留がないか確認、および依頼タスクレコードの回答予定日を
本日以降の日付に設定するよう連絡をお願いします。</text>
    </textTemplates>
    <variables>
        <name>currentApproverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>groupNameList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>分割用リストのサイズ判定に使用</description>
        <name>listSizeCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>queueIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queueUserEmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>targetProcessInstanceIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>処理対象の依頼タスクレコードを格納する変数。</description>
        <name>targetRequestTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RequestTask__c</objectType>
    </variables>
    <variables>
        <name>targetRequestTaskCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>targetRequestTaskIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>処理対処依頼タスクレコードのうち、30件目から60件目のリスト</description>
        <name>targetRequestTaskList31To60</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RequestTask__c</objectType>
    </variables>
    <variables>
        <name>targetRequestTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RequestTask__c</objectType>
    </variables>
</Flow>
