force-app/main/default/flows/deadlineExcessAlert1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>alertToCrmAdminGroup</name>
        <label>CRM事務局グループにアラートのChatter投稿</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>loopTargetRequestTaskListForSplit</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>crmAdminGroupChatterText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>0F9N0000000IkzvKAC</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>処理対象依頼タスクレコード件数をコレクション変数へ割り当てる。件数の判定に使用する。</description>
        <name>assignRecordNumberToVariable</name>
        <label>処理対象依頼タスクレコード件数を変数へ割り当て</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>targetRequestTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getTargetRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getTargetRequestTaskCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>1件目から30件目の処理対象依頼タスクレコードをコレクション変数に格納</description>
        <name>assignRequestTask1To30</name>
        <label>1件目から30件目の処理対象依頼タスクレコードをコレクション変数に格納</label>
        <locationX>402</locationX>
        <locationY>1284</locationY>
        <assignmentItems>
            <assignToReference>targetRequestTaskList1To30</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTargetRequestTaskListForSplit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>incrementListCounterVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>ループを終了させるためにリストを空にする。</description>
        <name>clearList</name>
        <label>リストを空にする</label>
        <locationX>666</locationX>
        <locationY>1284</locationY>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>getTargetRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>incrementListCounterVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getTargetRequestTaskCount</name>
        <label>処理対象レコード総数を取得</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>targetRequestTaskCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetRequestTaskCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isTargetRequestTaskOver120</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>リストカウンター変数をインクリメント</description>
        <name>incrementListCounterVariable</name>
        <label>リストカウンター変数をインクリメント</label>
        <locationX>534</locationX>
        <locationY>1476</locationY>
        <assignmentItems>
            <assignToReference>listSizeCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTargetRequestTaskListForSplit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkListSizeOver30</name>
        <label>リストのサイズが30以上か判定</label>
        <locationX>534</locationX>
        <locationY>1176</locationY>
        <defaultConnector>
            <targetReference>clearList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>リストのサイズが30以上</defaultConnectorLabel>
        <rules>
            <name>isListSizeUnder30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>listSizeCounter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignRequestTask1To30</targetReference>
            </connector>
            <label>リストのサイズが30未満</label>
        </rules>
    </decisions>
    <decisions>
        <name>isExistTargetRecord</name>
        <label>処理対象が存在するか</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>isTargetRequestTaskOver120</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>取得結果がない</defaultConnectorLabel>
        <rules>
            <name>isExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTargetRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignRecordNumberToVariable</targetReference>
            </connector>
            <label>取得結果がある</label>
        </rules>
    </decisions>
    <decisions>
        <description>処理対象レコード総数が120を超えているかを判定する。
120件を超過している場合はCRM事務局宛てにChatter投稿する。</description>
        <name>isTargetRequestTaskOver120</name>
        <label>処理対象レコード総数が120を超えているか</label>
        <locationX>314</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>loopTargetRequestTaskListForSplit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>120件未満である</defaultConnectorLabel>
        <rules>
            <name>isOver120</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>targetRequestTaskCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>120.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>alertToCrmAdminGroup</targetReference>
            </connector>
            <label>120件を超過している</label>
        </rules>
        <rules>
            <name>is0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>targetRequestTaskCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>0件である</label>
        </rules>
    </decisions>
    <description>期限超過している依頼タスクレコードのうち1~30件目を処理する。
期限超過レコードが120件を超えている場合はCRM事務局グループにChatter投稿する。</description>
    <environments>Default</environments>
    <formulas>
        <name>orgUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_560} ,FIND(&quot;/services/Soap/&quot;, {!$Api.Partner_Server_URL_560}))</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>期限超過アラート {!$Flow.CurrentDateTime}</interviewLabel>
    <label>期限超過アラート1</label>
    <loops>
        <description>処理対象依頼タスクレコードを一定サイズのコレクション変数に格納するためのループ</description>
        <name>loopTargetRequestTaskListForSplit</name>
        <label>リスト分割のために処理対象依頼タスクレコードリストをループ</label>
        <locationX>314</locationX>
        <locationY>1068</locationY>
        <collectionReference>getTargetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkListSizeOver30</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createReqTaskIdListAndGroupNameList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getTargetProcessInstance</name>
        <label>対象プロセスインスタンスを取得</label>
        <locationX>314</locationX>
        <locationY>1776</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createTargerProcessInstanceIdList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>In</operator>
            <value>
                <elementReference>targetRequestTaskIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTargetProcessInstanceWorkItems</name>
        <label>処理対象の承認申請を取得</label>
        <locationX>314</locationX>
        <locationY>1992</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PostChatterToDeadlineExccessRequestTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>In</operator>
            <value>
                <elementReference>targetProcessInstanceIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <sortField>ProcessInstanceId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTargetRecords</name>
        <label>getTargetRecords</label>
        <locationX>314</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isExistTargetRecord</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ( (3 AND 4) OR (5 AND 6) )</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>依頼作成</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>依頼先対応済/依頼完了</stringValue>
            </value>
        </filters>
        <filters>
            <field>DueDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </filters>
        <filters>
            <field>EstimatedAnswerDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EstimatedAnswerDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </filters>
        <filters>
            <field>EstimatedAnswerDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RequestTask__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getTargetRecords</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-08-26</startDate>
            <startTime>08:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>createReqTaskIdListAndGroupNameList</name>
        <label>依頼タスクIDとグループ名リストを作成</label>
        <locationX>314</locationX>
        <locationY>1668</locationY>
        <connector>
            <targetReference>getTargetProcessInstance</targetReference>
        </connector>
        <flowName>createReqTaskIdListAndGroupNameList</flowName>
        <inputAssignments>
            <name>targetRecords</name>
            <value>
                <elementReference>targetRequestTaskList1To30</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>targetRequestTaskIdList</assignToReference>
            <name>targetRequestTaskIds</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>createTargerProcessInstanceIdList</name>
        <label>処理対象プロセスインスタンスIDリストを作成</label>
        <locationX>314</locationX>
        <locationY>1884</locationY>
        <connector>
            <targetReference>getTargetProcessInstanceWorkItems</targetReference>
        </connector>
        <flowName>createTargerProcessInstanceIdList</flowName>
        <inputAssignments>
            <name>getTargetProcessInstance</name>
            <value>
                <elementReference>getTargetProcessInstance</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>targetProcessInstanceIdList</assignToReference>
            <name>targetProcessInstanceIdList</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PostChatterToDeadlineExccessRequestTask</name>
        <label>期限超過かつ未承認の承認申請のアラートChatter投稿</label>
        <locationX>314</locationX>
        <locationY>2100</locationY>
        <flowName>PostChatterToDeadlineExccessRequestTask</flowName>
        <inputAssignments>
            <name>getTargetProcessInstance</name>
            <value>
                <elementReference>getTargetProcessInstance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>getTargetProcessInstanceWorkItems</name>
            <value>
                <elementReference>getTargetProcessInstanceWorkItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>getTargetRecords</name>
            <value>
                <elementReference>targetRequestTaskList1To30</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>期限超過アラート対象の依頼タスクレコードが120件を超過している場合のCRM事務局グループへの通知メッセージ。</description>
        <name>crmAdminGroupChatterText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!crmGroupId}]

回答期限を超過している依頼タスクレコード数が120件を超えています。
120件を超過している場合、期限超過アラートが正常に送信されません。

CRM利用ユーザに対して承認申請の滞留がないか確認、および依頼タスクレコードの回答予定日を
本日以降の日付に設定するよう連絡をお願いします。</text>
    </textTemplates>
    <variables>
        <description>CRM事務局グループのID</description>
        <name>crmGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0F9N0000000IkzvKAC</stringValue>
        </value>
    </variables>
    <variables>
        <name>currentApproverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>groupNameList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>分割用リストのサイズ判定に使用</description>
        <name>listSizeCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>queueIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queueUserEmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>targetProcessInstanceIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>処理対象の依頼タスクレコードを格納する変数。</description>
        <name>targetRequestTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RequestTask__c</objectType>
    </variables>
    <variables>
        <name>targetRequestTaskCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>targetRequestTaskIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>処理対処依頼タスクレコードのうち、1件目から30件目のリスト</description>
        <name>targetRequestTaskList1To30</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RequestTask__c</objectType>
    </variables>
    <variables>
        <name>targetRequestTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RequestTask__c</objectType>
    </variables>
</Flow>
