force-app/main/default/flows/DeleteQuoteBiddingInquiryRecordValue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>ChangeRequestClassification</name>
        <label>申請区分を変更</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>StatusName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>結果報告</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResultContactStatusUnsubmitted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ChangeRequestClassificationSH</name>
        <label>申請区分を変更</label>
        <locationX>1634</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>StatusName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>結果報告</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResultContactStatusUnsubmitted2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ChangeStatusNameJV</name>
        <label>ステータス名変換</label>
        <locationX>1106</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>StatusName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>伺い承認済</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeletePattern3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ChangeStatusNameM</name>
        <label>ステータス名変換</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>StatusName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>伺い承認済</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeletePattern1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ChangeStatusNameT</name>
        <label>ステータス名変換</label>
        <locationX>2162</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>StatusName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>伺い承認済</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeletePattern5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CopyRequestClassification</name>
        <label>申請区分をコピー</label>
        <locationX>842</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>StatusName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>伺い申請</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResultContactStatusUnsubmitted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CopyRequestClassificationSH</name>
        <label>申請区分をコピー</label>
        <locationX>1898</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>StatusName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>伺い申請</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResultContactStatusUnsubmitted2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CopyStatusJV</name>
        <label>ステータス名転記</label>
        <locationX>1370</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>StatusName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StatusForPath__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeletePattern3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CopyStatusM</name>
        <label>ステータス名転記</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>StatusName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StatusForPath__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeletePattern1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CopyStatusT</name>
        <label>ステータス名転記</label>
        <locationX>2426</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>StatusName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StatusForPath__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeletePattern5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRecordName</name>
        <label>見積・応札伺いレコード件名を割り当て</label>
        <locationX>1436</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>NewName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>jugeRecordType</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckStatusJV</name>
        <label>ステータスが伺い承認済（結果未報告）か確認</label>
        <locationX>1238</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>CopyStatusJV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>伺い承認済（結果未報告）以外</defaultConnectorLabel>
        <rules>
            <name>ApprovedJV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StatusForPath__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>伺い承認済（結果未報告）</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChangeStatusNameJV</targetReference>
            </connector>
            <label>伺い承認済（結果未報告）</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckStatusM</name>
        <label>ステータスが伺い承認済（結果未報告）か確認</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>CopyStatusM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>伺い承認済（結果未報告）以外</defaultConnectorLabel>
        <rules>
            <name>ApprovedM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StatusForPath__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>伺い承認済（結果未報告）</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChangeStatusNameM</targetReference>
            </connector>
            <label>伺い承認済（結果未報告）</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckStatusO</name>
        <label>伺い認許ステータスが承認済か確認</label>
        <locationX>710</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>CopyRequestClassification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>承認済以外</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InquiryApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>承認済</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChangeRequestClassification</targetReference>
            </connector>
            <label>承認済</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckStatusSH</name>
        <label>伺い認許ステータスが承認済か確認</label>
        <locationX>1766</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>CopyRequestClassificationSH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>承認済以外</defaultConnectorLabel>
        <rules>
            <name>SHApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InquiryApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>承認済</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChangeRequestClassificationSH</targetReference>
            </connector>
            <label>承認済</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckStatusT</name>
        <label>ステータスが伺い承認済（結果未報告）か確認</label>
        <locationX>2294</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>CopyStatusT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>伺い承認済（結果未報告）以外</defaultConnectorLabel>
        <rules>
            <name>ApprovedT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StatusForPath__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>伺い承認済（結果未報告）</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChangeStatusNameT</targetReference>
            </connector>
            <label>伺い承認済（結果未報告）</label>
        </rules>
    </decisions>
    <decisions>
        <name>jugeRecordType</name>
        <label>レコードタイプを判定</label>
        <locationX>1436</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>その他</defaultConnectorLabel>
        <rules>
            <name>pattern1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NewNameRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>見</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckStatusM</targetReference>
            </connector>
            <label>見積伺い</label>
        </rules>
        <rules>
            <name>pattern2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NewNameRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>応</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>O</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckStatusO</targetReference>
            </connector>
            <label>応札伺い</label>
        </rules>
        <rules>
            <name>pattern3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NewNameRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>J</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewNameRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ｊ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckStatusJV</targetReference>
            </connector>
            <label>JV締結認可伺い</label>
        </rules>
        <rules>
            <name>pattern4</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NewNameRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>設</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckStatusSH</targetReference>
            </connector>
            <label>設計変更伺い</label>
        </rules>
        <rules>
            <name>pattern5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NewNameRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>手</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FeeInquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckStatusT</targetReference>
            </connector>
            <label>手数料伺い</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Agency1TradingStyleFromOppHandling</name>
        <dataType>String</dataType>
        <expression>IF (ISBLANK(TEXT({!$Record.Agency1TradingStyle__c})), TEXT({!$Record.Opportunity__r.Handling__c}), TEXT({!$Record.Agency1TradingStyle__c}))</expression>
    </formulas>
    <formulas>
        <name>BiddingSystemParameter</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.BidStyle__c})=&apos;随意契約&apos;,&apos;-&apos;,TEXT({!$Record.BiddingSystem__c}))</expression>
    </formulas>
    <formulas>
        <name>NewNameRecordType</name>
        <dataType>String</dataType>
        <expression>LEFT({!NewName},1)</expression>
    </formulas>
    <interviewLabel>見積・応札伺いレコード作成・更新時 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>見積・応札伺いレコード作成・更新時</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>レコードタイプが「見積伺い」の時に表示する項目以外は空白にする</description>
        <name>DeletePattern1</name>
        <label>見積伺い以外の項目を削除</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>AdjustMaxFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>AdjustMinFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency1Qualification__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency1StoreName__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency1TradingStyle__c</field>
            <value>
                <elementReference>Agency1TradingStyleFromOppHandling</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agency1_BaseFunction_EvPoint__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency1_Factor_FunctionEvaluationUnder40__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency1_PlatformFunction_EvPoint__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency2Name__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency2Qualification__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency2TradingStyle__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency2_BaseFunction_EvPoint__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency2_Factor_FunctionEvaluationUnder40__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency2_PlatformFunction_EvPoint__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency3Name__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency3Qualification__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency3TradingStyle__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency3_BaseFunction_EvPoint__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency3_Factor_FunctionEvaluationUnder40__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency3_PlatformFunction_EvPoint__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>AttributeConfirmationResultRemarks__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency1MaxFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency1MinFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency2MaxFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency2MinFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency3MaxFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency3MinFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidConditionsQ1__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidConditionsQ2__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidConditionsQ3__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidConditionsQ4__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidConditionsQ5__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidConditionsQ6__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidConditionsQ7__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidConditionsQ8__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BiddingSystem__c</field>
            <value>
                <elementReference>BiddingSystemParameter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessCategory__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CategoryCoefficient__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ContractAmountMax__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ContractAmountMin__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>DependentBiddingInquiry__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>DependentFeeInquiry__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>DependentJvInquiry__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>DetailAfterDesignFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.PickDivision__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedWinningBidAmount__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EvaluationComment1__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>EvaluationComment2__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>EvaluationComment3__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Factor_PriceExponentialMin__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Factor_PriceExponential_Manual2Min__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Factor_PriceExponential_Manual2__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Factor_PriceExponential_ManualMin__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Factor_PriceExponential_Manual__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Factor_PriceExponential__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>GMReportTopicsOpportunity__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>IsEfficiencyApplying__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>JVFormat__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>JVInvestmentRatio__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>JVName__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>JVOrderEstimatedAmount__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>LastCustomerCategory__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ManualWinningBidder__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>NewChanged__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalContractFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OurBidAmount__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OurBidWithdrawal__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerCompanyBidAmount__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentDeadlineMethodOther__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentDeadlineMethod__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PreBidConfirmationAndContractDiscrepancy__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ReportDetail__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ResultContactStatus__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>StatusForPath__c</field>
            <value>
                <elementReference>StatusName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WinningBidAmount__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>WinningBidder__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>レコードタイプが「応札伺い」の時に表示する項目以外は空白にする</description>
        <name>DeletePattern2</name>
        <label>応札伺い以外の項目を削除</label>
        <locationX>710</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>AdjustMaxFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>AdjustMinFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency1Qualification__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency1StoreName__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency1TradingStyle__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency1_BaseFunction_EvPoint__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency1_Factor_FunctionEvaluationUnder40__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency1_PlatformFunction_EvPoint__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency2Name__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency2Qualification__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency2TradingStyle__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency2_BaseFunction_EvPoint__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency2_Factor_FunctionEvaluationUnder40__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency2_PlatformFunction_EvPoint__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency3Name__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency3Qualification__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency3TradingStyle__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency3_BaseFunction_EvPoint__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency3_Factor_FunctionEvaluationUnder40__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency3_PlatformFunction_EvPoint__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency1Fee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency1StoreName__c</field>
            <value>
                <elementReference>$Record.DependentFeeInquiry__r.Agency1StoreName__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency2Fee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency2StoreName__c</field>
            <value>
                <elementReference>$Record.DependentFeeInquiry__r.Agency2Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency2TradingStyle4RecordTypeM__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency3Fee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency3StoreName__c</field>
            <value>
                <elementReference>$Record.DependentFeeInquiry__r.Agency3Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency3TradingStyle4RecordTypeM__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BiddingSystem__c</field>
            <value>
                <elementReference>BiddingSystemParameter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessCategory__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CategoryCoefficient__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ContractAmountMax__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ContractAmountMin__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>DetailAfterDesignFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.PickDivision__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimationUsageMemo__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>EstimationUsage__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>EvaluationComment1__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>EvaluationComment2__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>EvaluationComment3__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectProfitAndLossOnOrderCP__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectProfitAndLossOnOrderFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectProfitAndLossOnOrderTC__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectProfitAndLossOnOrderWC__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Factor_PriceExponentialMin__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Factor_PriceExponential_Manual2Min__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Factor_PriceExponential_Manual2__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Factor_PriceExponential_ManualMin__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Factor_PriceExponential_Manual__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Factor_PriceExponential__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>JVFormat__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>JVInvestmentRatio__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>JVName__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>JVOrderEstimatedAmount__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>LastCustomerCategory__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>MultiCompSameAnswer__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewChanged__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalContractFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentDeadlineMethodOther__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentDeadlineMethod__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PriceProposal1MaxCPManualInput__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PriceProposal1MaxTCManualInput__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PriceProposal1MaxWCManualInput__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>RequestClassification__c</field>
            <value>
                <elementReference>StatusName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPriceEstimation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>レコードタイプが「JV締結認可伺い」の時に表示する項目以外は空白にする</description>
        <name>DeletePattern3</name>
        <label>JV締結認可伺い以外の項目を削除</label>
        <locationX>1238</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>AdjustMaxFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>AdjustMinFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency1Qualification__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency1StoreName__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency1TradingStyle__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency1_BaseFunction_EvPoint__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency1_Factor_FunctionEvaluationUnder40__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency1_PlatformFunction_EvPoint__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency2Name__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency2Qualification__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency2TradingStyle__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency2_BaseFunction_EvPoint__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency2_Factor_FunctionEvaluationUnder40__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency2_PlatformFunction_EvPoint__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency3Name__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency3Qualification__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency3TradingStyle__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency3_BaseFunction_EvPoint__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency3_Factor_FunctionEvaluationUnder40__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency3_PlatformFunction_EvPoint__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>AttributeConfirmationResultRemarks__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency1Fee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency1MaxFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency1MinFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency1StoreName__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency2Fee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency2MaxFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency2MinFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency2StoreName__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency2TradingStyle4RecordTypeM__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency3Fee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency3MaxFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency3MinFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency3StoreName__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency3TradingStyle4RecordTypeM__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidForm__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BiddingSystem__c</field>
            <value>
                <elementReference>BiddingSystemParameter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessCategory__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CategoryCoefficient__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CollaborationCompanyBiddingPriceProposal__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ConstructionQuantityPublicationExistence__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ContractAmountMax__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ContractAmountMin__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>DependentBiddingInquiry__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>DependentEstimateInquiry__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>DependentFeeInquiry__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>DetailAfterDesignFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.PickDivision__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedWinningBidAmount__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimationUsageMemo__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>EstimationUsage__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>EvaluationComment1__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>EvaluationComment2__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>EvaluationComment3__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectProfitAndLossOnOrderFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ExportCategory__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Factor_PriceExponentialMin__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Factor_PriceExponential_Manual2Min__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Factor_PriceExponential_Manual2__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Factor_PriceExponential_ManualMin__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Factor_PriceExponential_Manual__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Factor_PriceExponential__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>FreeContract__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GMReportTopicsOpportunity__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ImproveGoal3SalesFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>IsEfficiencyApplying__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>JvBiddingPriceProposal__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>LastCustomerCategory__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>LowestLimitEstimatedPrice__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>LowestLimitPriceChange__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LowestLimitPriceExistence__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>LowestLimitPrice__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>MachineCostPublicEstimatedPriceExistence__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>MachineCostPublicEstimatedPrice__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>MachineCostPublicPrice__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ManualWinningBidder__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>MultiCompSameAnswer__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewChanged__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityScale__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalContractFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OurBidAmount__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OurBidWithdrawal__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerCompanyBidAmount__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerCompany__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentDeadlineMethodOther__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentDeadlineMethod__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PlannedPriceExistence__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PlannedPrice__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PreBidConfirmationAndContractDiscrepancy__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PriceList__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PriceProposal1MaxCPManualInput__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PriceProposal1MaxTCManualInput__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PriceProposal1MaxWCManualInput__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryCustomer__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ProfitAndLossImprovementPlan__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PublicPrice__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>RefusalReasonSup__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>RefusalReason__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Refusal__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReportDetail__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ResultContactStatus__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SingleTotalFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SpecialInprofitProject__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusForPath__c</field>
            <value>
                <elementReference>StatusName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyReferencePriceChange__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyReferencePriceEstimated__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyReferencePriceExistence__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyReferencePrice__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPriceEstimation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WinningBidAmount__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>WinningBidder__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>importFactoryFromOppp__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>レコードタイプが「設計変更伺い」の時に表示する項目以外は空白にする</description>
        <name>DeletePattern4</name>
        <label>設計変更伺い以外の項目を削除</label>
        <locationX>1766</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Agency1Qualification__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency1StoreName__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency1TradingStyle__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency1_BaseFunction_EvPoint__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency1_Factor_FunctionEvaluationUnder40__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency1_PlatformFunction_EvPoint__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency2Name__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency2Qualification__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency2TradingStyle__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency2_BaseFunction_EvPoint__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency2_Factor_FunctionEvaluationUnder40__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency2_PlatformFunction_EvPoint__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency3Name__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency3Qualification__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency3TradingStyle__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency3_BaseFunction_EvPoint__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency3_Factor_FunctionEvaluationUnder40__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Agency3_PlatformFunction_EvPoint__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency1Fee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency1StoreName__c</field>
            <value>
                <elementReference>$Record.DependentFeeInquiry__r.Agency1StoreName__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency2Fee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency2StoreName__c</field>
            <value>
                <elementReference>$Record.DependentFeeInquiry__r.Agency2Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency2TradingStyle4RecordTypeM__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency3Fee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency3StoreName__c</field>
            <value>
                <elementReference>$Record.DependentFeeInquiry__r.Agency3Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency3TradingStyle4RecordTypeM__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BiddingSystem__c</field>
            <value>
                <elementReference>BiddingSystemParameter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessCategory__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CategoryCoefficient__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ContractAmountMax__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ContractAmountMin__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>DependentJvInquiry__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.PickDivision__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimationUsageMemo__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>EstimationUsage__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>EvaluationComment1__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>EvaluationComment2__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>EvaluationComment3__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectProfitAndLossOnOrderCP__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectProfitAndLossOnOrderFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectProfitAndLossOnOrderTC__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectProfitAndLossOnOrderWC__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Factor_PriceExponentialMin__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Factor_PriceExponential_Manual2Min__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Factor_PriceExponential_Manual2__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Factor_PriceExponential_ManualMin__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Factor_PriceExponential_Manual__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Factor_PriceExponential__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>FreeContract__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ImproveGoal3SalesFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>JVFormat__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>JVInvestmentRatio__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>JVName__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>JVOrderEstimatedAmount__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>LastCustomerCategory__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>MultiCompSameAnswer__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewChanged__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerCompanyBidAmount__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentDeadlineMethodOther__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentDeadlineMethod__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PriceList__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PriceProposal1MaxCPManualInput__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PriceProposal1MaxTCManualInput__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PriceProposal1MaxWCManualInput__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ProfitAndLossImprovementPlan__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Refusal__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestClassification__c</field>
            <value>
                <elementReference>StatusName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPriceEstimation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>レコードタイプが「手数料伺い」の時に表示する項目以外は空白にする</description>
        <name>DeletePattern5</name>
        <label>手数料伺い以外の項目を削除</label>
        <locationX>2294</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>AdjustMaxFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>AdjustMinFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>AttributeConfirmationResultRemarks__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency1Fee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency1MaxFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency1MinFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency1StoreName__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency2Fee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency2MaxFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency2MinFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency2StoreName__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency2TradingStyle4RecordTypeM__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency3Fee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency3MaxFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency3MinFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency3StoreName__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidAgency3TradingStyle4RecordTypeM__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidEntryApplicationPeriod__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidForm__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidName__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidOpeningDay__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidOpeningTime__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BidStyle__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BiddingDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BiddingMethod__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BiddingSystem__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BiddingTime__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>BudgetInfo__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CollaborationCompanyBiddingPriceProposal__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ConstructionQuantityPublicationExistence__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>DeliveryDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>DependentEstimateInquiry__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>DependentInquiryMemo__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>DependentJvInquiry__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>DetailAfterDesignFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>DetailedStatementNecessity__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.PickDivision__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedWinningBidAmount__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimationUsageMemo__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>EstimationUsage__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ExistingCompanyName1__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ExistingCompanyName2__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ExistingCompanyName3__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ExistingEquipment1__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ExistingEquipment2__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ExistingEquipment3__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ExistingInfoMemo__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectProfitAndLossOnOrderCP__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectProfitAndLossOnOrderFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectProfitAndLossOnOrderTC__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectProfitAndLossOnOrderWC__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedOrderSingleCount__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ExportCategory__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>FreeContract__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GMReportTopicsOpportunity__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ImproveGoal3SalesFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>InquiryApplicationComment__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>InvitationToTenderDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>IsEfficiencyApplying__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>JVFormat__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>JVInvestmentRatio__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>JVName__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>JVOrderEstimatedAmount__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>JvBiddingPriceProposal__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>LowestLimitEstimatedPrice__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>LowestLimitPriceChange__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LowestLimitPriceExistence__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>LowestLimitPrice__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>MachineCostPublicEstimatedPriceExistence__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>MachineCostPublicEstimatedPrice__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>MachineCostPublicPrice__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ManualWinningBidder__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>MultiCompSameAnswer__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityOverview__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityScale__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalContractFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OurBidAmount__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OurBidWithdrawal__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerCompanyBidAmount__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerCompany__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PlannedPriceExistence__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PlannedPrice__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PreBidConfirmationAndContractDiscrepancy__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PriceList__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PriceProposal1MaxCPManualInput__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PriceProposal1MaxTCManualInput__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PriceProposal1MaxWCManualInput__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryCustomer__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ProfitAndLossImprovementPlan__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PublicPrice__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>QuestionAnswerDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>QuestionSubmissionPeriod__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>RefusalReasonSup__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>RefusalReason__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Refusal__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReportDetail__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ResultContactStatus__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SingleTotalCP__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SingleTotalFee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SingleTotalTC__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SingleTotalWC__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SpecialInprofitProject__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusForPath__c</field>
            <value>
                <elementReference>StatusName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubmissionDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyReferencePriceChange__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyReferencePriceEstimated__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyReferencePriceExistence__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyReferencePrice__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPriceEstimation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WinningBidAmount__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>WinningBidder__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>importFactoryFromOppp__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ResultContactStatusUnsubmitted</name>
        <label>「結果報告ステータス」がブランクの場合「未申請」</label>
        <locationX>710</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>DeletePattern2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ResultContactStatus__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ResultContactStatus__c</field>
            <value>
                <stringValue>未申請</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ResultContactStatusUnsubmitted2</name>
        <label>「結果報告ステータス」がブランクの場合「未申請」</label>
        <locationX>1766</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>DeletePattern4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ResultContactStatus__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ResultContactStatus__c</field>
            <value>
                <stringValue>未申請</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1310</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetRecordName</targetReference>
        </connector>
        <object>QuoteBiddingInquiry__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StatusName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
