force-app/main/default/flows/GetManagementNumber.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>SetNewNo</name>
        <label>採番を割り当て</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>No</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetManagementNumberRecord.No__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateManagementNumberRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNewNoFee</name>
        <label>採番を割り当て</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>No</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetManagementNumberFeeRecord.No__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateManagementNumberRecordFee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNewNoJV</name>
        <label>採番を割り当て</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>No</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetManagementNumberJVRecord.No__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateManagementNumberRecordJV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNewNoSH</name>
        <label>採番を割り当て</label>
        <locationX>1634</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>No</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetManagementNumberSHRecord.No__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateManagementNumberRecordSH</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>hasRecord</name>
        <label>検索結果判定</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>InsertManagementNumberRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>検索結果がなし</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetManagementNumberRecord.No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetManagementNumberRecord.No__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNewNo</targetReference>
            </connector>
            <label>検索結果があり</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasRecordFee</name>
        <label>検索結果判定</label>
        <locationX>1238</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>InsertManagementNumberRecordFee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>検索結果がなし</defaultConnectorLabel>
        <rules>
            <name>FeeYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetManagementNumberFeeRecord.No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetManagementNumberFeeRecord.No__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNewNoFee</targetReference>
            </connector>
            <label>検索結果があり</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasRecordJV</name>
        <label>検索結果判定</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>InsertManagementNumberRecordJV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>検索結果がなし</defaultConnectorLabel>
        <rules>
            <name>JvYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetManagementNumberJVRecord.No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetManagementNumberJVRecord.No__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNewNoJV</targetReference>
            </connector>
            <label>検索結果があり</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasRecordSH</name>
        <label>検索結果判定</label>
        <locationX>1766</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>InsertManagementNumberRecordSH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>検索結果がなし</defaultConnectorLabel>
        <rules>
            <name>SHYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetManagementNumberSHRecord.No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetManagementNumberSHRecord.No__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNewNoSH</targetReference>
            </connector>
            <label>検索結果があり</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsUpdateTarget</name>
        <label>実行条件判定</label>
        <locationX>1799</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>採番対象ではない</defaultConnectorLabel>
        <rules>
            <name>IsUpdate</name>
            <conditionLogic>(1 OR 5) AND (2 OR 6) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.InquiryApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>未申請</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InquiryApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>所属課長</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ManagementNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ManagementNumber__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.InquiryApprovalStatus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InquiryApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>jugeRecordType</targetReference>
            </connector>
            <label>採番対象</label>
        </rules>
    </decisions>
    <decisions>
        <name>jugeRecordType</name>
        <label>レコードタイプを判定</label>
        <locationX>1172</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>その他</defaultConnectorLabel>
        <rules>
            <name>partten1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeForJuge</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordTypeForJuge</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>O</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetManagementNumberRecord</targetReference>
            </connector>
            <label>見積伺い・応札伺い</label>
        </rules>
        <rules>
            <name>partten2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeForJuge</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>J</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetManagementNumberJVRecord</targetReference>
            </connector>
            <label>JV締結認可伺い</label>
        </rules>
        <rules>
            <name>partten3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeForJuge</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FeeInquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetManagementNumberFeeRecord</targetReference>
            </connector>
            <label>手数料伺い</label>
        </rules>
        <rules>
            <name>partten4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeForJuge</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetManagementNumberSHRecord</targetReference>
            </connector>
            <label>設計変更伺い</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>PUS_CRM-708 2026/04時点では「海外公共」はCRMの伺い対象外だが、採番体系定義の通り実装に組み込み</description>
        <name>BU</name>
        <dataType>String</dataType>
        <expression>CASE(
    {!$Record.BU__c},
    &apos;水環境&apos;, &apos;1&apos;,
    &apos;施設&apos;, &apos;2&apos;,
    &apos;官需&apos;, &apos;3&apos;,
    &apos;官公情報&apos;, &apos;4&apos;,
    &apos;通シ&apos;, &apos;5&apos;,
    &apos;海外公共&apos;, &apos;6&apos;,
    &apos;9&apos;
)</expression>
    </formulas>
    <formulas>
        <name>ManagementNumber</name>
        <dataType>String</dataType>
        <expression>CASE({!RecordTypeForJuge}, 
&apos;M&apos;, {!NowYear} &amp; {!BU} &amp; {!RecordType} &amp; &quot;-&quot; &amp; {!NowMonth} &amp; LPAD(TEXT({!NewNo}), 3, &quot;0&quot;), 
&apos;O&apos;, {!NowYear} &amp; {!BU} &amp; {!RecordType} &amp; &quot;-&quot; &amp; {!NowMonth} &amp; LPAD(TEXT({!NewNo}), 3, &quot;0&quot;), 
&apos;SH&apos;, {!NowYear} &amp; {!BU} &amp; {!RecordType} &amp; &quot;-&quot; &amp; {!NowMonth} &amp; LPAD(TEXT({!NewNo}), 3, &quot;0&quot;), 
&apos;JV&apos;, &apos;JV&apos; &amp; {!NowYear} &amp; LPAD(TEXT({!NewNo}), 3, &quot;0&quot;), 
&apos;FeeInquiry&apos;, &apos;COM&apos; &amp; {!NowYear} &amp; LPAD(TEXT({!NewNo}), 4, &quot;0&quot;), 
&apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>NewNo</name>
        <dataType>Number</dataType>
        <expression>{!No}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>月（2桁）</description>
        <name>NowMonth</name>
        <dataType>String</dataType>
        <expression>IF(MONTH(TODAY()) &lt; 10, &quot;0&quot; &amp; TEXT(MONTH(TODAY())), TEXT(MONTH(TODAY())))</expression>
    </formulas>
    <formulas>
        <description>年度の下2桁</description>
        <name>NowYear</name>
        <dataType>String</dataType>
        <expression>IF(MONTH(TODAY()) &gt; 3, RIGHT(TEXT(YEAR(TODAY())), 2), RIGHT(TEXT(YEAR(TODAY()) - 1),2))</expression>
    </formulas>
    <formulas>
        <name>RecordType</name>
        <dataType>String</dataType>
        <expression>IF(
AND(CONTAINS(TEXT({!$Record.FinalApprover__c}),&apos;申請部門&apos;),{!$Record.RecordType.DeveloperName} == &apos;M&apos;), &apos;3&apos;,
IF(
AND(CONTAINS(TEXT({!$Record.FinalApprover__c}),&apos;申請部門&apos;),{!$Record.RecordType.DeveloperName} == &apos;O&apos;), &apos;4&apos;,
CASE(
{!$Record.RecordType.DeveloperName}, 
&apos;M&apos;, &apos;1&apos;, 
&apos;O&apos;, &apos;2&apos;,
&apos;SH&apos;,&apos;5&apos;,
&apos;9&apos;
)
)
)</expression>
    </formulas>
    <formulas>
        <name>RecordTypeForJuge</name>
        <dataType>String</dataType>
        <expression>{!$Record.RecordType.DeveloperName}</expression>
    </formulas>
    <interviewLabel>見積・応札伺い項目 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>見積・応札伺い項目(伺い管理番号採番)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>InsertManagementNumberRecord</name>
        <label>伺い管理番号採番を作成</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>UpdateManagementNumber</targetReference>
        </connector>
        <inputAssignments>
            <field>BU__c</field>
            <value>
                <elementReference>BU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Month__c</field>
            <value>
                <elementReference>NowMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No__c</field>
            <value>
                <elementReference>NewNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>NowYear</elementReference>
            </value>
        </inputAssignments>
        <object>ManagementNumberRule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>InsertManagementNumberRecordFee</name>
        <label>伺い管理番号採番を作成</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>UpdateManagementNumber</targetReference>
        </connector>
        <inputAssignments>
            <field>JV__c</field>
            <value>
                <stringValue>COM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No__c</field>
            <value>
                <elementReference>NewNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>NowYear</elementReference>
            </value>
        </inputAssignments>
        <object>ManagementNumberRule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>InsertManagementNumberRecordJV</name>
        <label>伺い管理番号採番を作成</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>UpdateManagementNumber</targetReference>
        </connector>
        <inputAssignments>
            <field>JV__c</field>
            <value>
                <stringValue>JV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No__c</field>
            <value>
                <elementReference>NewNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>NowYear</elementReference>
            </value>
        </inputAssignments>
        <object>ManagementNumberRule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>InsertManagementNumberRecordSH</name>
        <label>伺い管理番号採番を作成</label>
        <locationX>1898</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>UpdateManagementNumber</targetReference>
        </connector>
        <inputAssignments>
            <field>BU__c</field>
            <value>
                <elementReference>BU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Month__c</field>
            <value>
                <elementReference>NowMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No__c</field>
            <value>
                <elementReference>NewNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>NowYear</elementReference>
            </value>
        </inputAssignments>
        <object>ManagementNumberRule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetManagementNumberFeeRecord</name>
        <label>伺い管理番号採番（手数料）を取得</label>
        <locationX>1238</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hasRecordFee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JV__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>COM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NowYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ManagementNumberRule__c</object>
        <sortField>No__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetManagementNumberJVRecord</name>
        <label>伺い管理番号採番（JV）を取得</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hasRecordJV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JV__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JV</stringValue>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NowYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ManagementNumberRule__c</object>
        <sortField>No__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetManagementNumberRecord</name>
        <label>伺い管理番号採番を取得</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hasRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NowYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NowMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>BU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BU</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ManagementNumberRule__c</object>
        <sortField>No__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetManagementNumberSHRecord</name>
        <label>伺い管理番号採番（設計変更）を取得</label>
        <locationX>1766</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hasRecordSH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NowYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NowMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>BU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BU</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ManagementNumberRule__c</object>
        <sortField>No__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateManagementNumber</name>
        <label>伺い管理番号を更新</label>
        <locationX>1172</locationX>
        <locationY>1139</locationY>
        <inputAssignments>
            <field>ManagementNumber__c</field>
            <value>
                <elementReference>ManagementNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateManagementNumberRecord</name>
        <label>伺い管理番号採番を更新</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>UpdateManagementNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BU</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NowYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NowMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No__c</field>
            <value>
                <elementReference>NewNo</elementReference>
            </value>
        </inputAssignments>
        <object>ManagementNumberRule__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateManagementNumberRecordFee</name>
        <label>伺い管理番号採番を更新</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>UpdateManagementNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JV__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NowYear</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No__c</field>
            <value>
                <elementReference>NewNo</elementReference>
            </value>
        </inputAssignments>
        <object>ManagementNumberRule__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateManagementNumberRecordJV</name>
        <label>伺い管理番号採番を更新</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>UpdateManagementNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JV__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JV</stringValue>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NowYear</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No__c</field>
            <value>
                <elementReference>NewNo</elementReference>
            </value>
        </inputAssignments>
        <object>ManagementNumberRule__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateManagementNumberRecordSH</name>
        <label>伺い管理番号採番を更新</label>
        <locationX>1634</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>UpdateManagementNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BU</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NowYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NowMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No__c</field>
            <value>
                <elementReference>NewNo</elementReference>
            </value>
        </inputAssignments>
        <object>ManagementNumberRule__c</object>
    </recordUpdates>
    <start>
        <locationX>1673</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsUpdateTarget</targetReference>
        </connector>
        <object>QuoteBiddingInquiry__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>No</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
