force-app/main/default/flows/HaveRecordTypeIdOfDevice_Small.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AllocateQuoteID</name>
        <label>見積レコードIDを割り当て</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResourceQuoteID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetRecordTypeRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AllocateRecordTypeIdOfDevice</name>
        <label>見積項目レコードタイプを割り当て</label>
        <locationX>176</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeIDOfDevice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordTypeRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TextDivision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Device_MiddleCategory__r.Device_LargeCategory__r.ConstructionZone__r.Quote__r.TextDivision__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Device_MiddleCategory__r.Device_LargeCategory__r.ConstructionZone__r.Quote__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>null</name>
        <label>nullにする</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Record.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AllocateQuoteID</targetReference>
        </connector>
    </assignments>
    <description>見積もりから部門（テキスト）を設定</description>
    <environments>Default</environments>
    <interviewLabel>見積項目レコードタイプIDを細別に割り当て {!$Flow.CurrentDateTime}</interviewLabel>
    <label>見積項目レコードタイプを細別レコードが保持する</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRecordTypeRecord</name>
        <label>レコードタイプレコードを取得</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AllocateRecordTypeIdOfDevice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Device_MiddleCategory__r.Device_LargeCategory__r.ConstructionZone__r.Quote__r.RecordType.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Device__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>null</targetReference>
        </connector>
        <object>Device_SmallCategory__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ResourceQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Device_MiddleCategory__r.Device_LargeCategory__r.ConstructionZone__r.Quote__r.Id</elementReference>
        </value>
    </variables>
</Flow>
