force-app/main/default/flows/HaveQuoteIDToDevice_MiddleCategory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AllocateQuoteID</name>
        <label>見積レコードIDを割り当て</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Quote__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ResourceQuoteID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>一度、見積レコードIDを取得している項目の値をnullにする。</description>
        <name>null</name>
        <label>nullにする</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Record.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AllocateQuoteID</targetReference>
        </connector>
    </assignments>
    <description>見積レコードIDを種別レコードに保持する</description>
    <environments>Default</environments>
    <interviewLabel>見積レコードIDを種別レコードに保持する {!$Flow.CurrentDateTime}</interviewLabel>
    <label>見積レコードIDを種別レコードが保持する</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>null</targetReference>
        </connector>
        <object>Device_MiddleCategory__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ResourceQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Device_LargeCategory__r.ConstructionZone__r.Quote__r.Id</elementReference>
        </value>
    </variables>
</Flow>
