force-app/main/default/flows/importFactoryFromOpppFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>IsDelete</name>
        <label>削除対象判断</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>CreateDetailByInquiryFactoryRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>なし</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>delUKRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deleteDetailByInquiryFactory</targetReference>
            </connector>
            <label>あり</label>
        </rules>
    </decisions>
    <description>案件場所別取込の戻す処理追加</description>
    <environments>Default</environments>
    <interviewLabel>案件場所別取込フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>案件場所別取込フロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>deleteDetailByInquiryFactory</name>
        <label>伺い明細削除</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>CreateDetailByInquiryFactoryRecords</targetReference>
        </connector>
        <inputReference>delUKRecord</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getDetailByInquiryFactory</name>
        <label>伺い明細レコード取得</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsDelete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteBiddingInquiry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>DetailByInquiryFactory__c</object>
        <outputReference>delUKRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getFactory</name>
        <label>場所別レコード取得</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDetailByInquiryFactory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opp1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Factory__c</object>
        <outputReference>facRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BU__c</queriedFields>
        <queriedFields>SR_CP__c</queriedFields>
        <queriedFields>SRWC__c</queriedFields>
        <queriedFields>Factory__c</queriedFields>
        <queriedFields>CommonRatio1__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>setimportFactoryFromOppp</name>
        <label>案件場所別取込戻す処理</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>importFactoryFromOppp__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getFactory</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>importFactoryFromOppp__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>QuoteBiddingInquiry__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>CreateDetailByInquiryFactoryRecords</name>
        <label>伺い明細レコード自動作成</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>setimportFactoryFromOppp</targetReference>
        </connector>
        <flowName>CreateDetailByInquiryFactoryRecords</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>delUKRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DetailByInquiryFactory__c</objectType>
    </variables>
    <variables>
        <name>facRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Factory__c</objectType>
    </variables>
    <variables>
        <name>ukaRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DetailByInquiryFactory__c</objectType>
    </variables>
    <variables>
        <name>ukaRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DetailByInquiryFactory__c</objectType>
    </variables>
</Flow>
