force-app/main/default/flows/InquiryCommercialDistributionItemAttributeSurveyTargetTranscriptionFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>esetCreating</name>
        <label>伺い作成中に戻す</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>Var_QuoteBiddingInquiryRecord.Creating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateQuoteBiddingInquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAttributeSurveyFields</name>
        <label>属性調査対象情報の更新</label>
        <locationX>204</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Var_QuoteBiddingInquiryRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.QuoteBiddingInquiry__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_QuoteBiddingInquiryRecord.AttributeSurveyTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_AttributeSurveyTarget</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_QuoteBiddingInquiryRecord.PastSurveyValidityPeriod__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_QuoteBiddingInquiryRecord.AttributeSurveyRequirement__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_QuoteBiddingInquiryRecord.SurveyResultIfRequired__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_QuoteBiddingInquiryRecord.ReasonIfSurveyNotRequired__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_QuoteBiddingInquiryRecord.ConfirmationResultTargetAttributeSurvey__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>IsChangePrimaryCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPrimaryCustomer</name>
        <label>一次顧客の更新</label>
        <locationX>204</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>Var_QuoteBiddingInquiryRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.QuoteBiddingInquiry__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_QuoteBiddingInquiryRecord.PrimaryCustomer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_PrimaryCustomer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_QuoteBiddingInquiryRecord.PastIssuedExpirationDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_QuoteBiddingInquiryRecord.ExportManagementProvisionQ1__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_QuoteBiddingInquiryRecord.ExportManagementProvisionQ2__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_QuoteBiddingInquiryRecord.ExportManagementProvisionQ3__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_QuoteBiddingInquiryRecord.ExportManagementProvisionQ4__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_QuoteBiddingInquiryRecord.ExportManagementProvisionQ5__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_QuoteBiddingInquiryRecord.ExportManagementProvisionQ6__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_QuoteBiddingInquiryRecord.ExportManagementProvisionQ7__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_QuoteBiddingInquiryRecord.ExportManagementProvisionQ8__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_QuoteBiddingInquiryRecord.ExportManagementProvisionQ9__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_QuoteBiddingInquiryRecord.ExportManagementProvisionQ10__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>いいえ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_QuoteBiddingInquiryRecord.ExportManagementProvisionQ11__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>―</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_QuoteBiddingInquiryRecord.ExportManagementProvisionQ12__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_QuoteBiddingInquiryRecord.ExportManagementProvisionQ13__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_QuoteBiddingInquiryRecord.PrimaryCustomerConfirmationResult__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>CheckUpdateRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckStatus</name>
        <label>伺い認許ステータス確認</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>UpdateQuoteBiddingInquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>申請済み</defaultConnectorLabel>
        <rules>
            <name>created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.QuoteBiddingInquiry__r.InquiryApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>未申請</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>esetCreating</targetReference>
            </connector>
            <label>未申請</label>
        </rules>
    </decisions>
    <decisions>
        <description>複数明細ある場合はルート1の明細のみ転記対象とする</description>
        <name>CheckUpdate</name>
        <label>更新対象かチェック</label>
        <locationX>545</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>その他：更新しない</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_InquiryCommercialDistributionDetailRecords.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsChangeAttributeSurveyTarget</targetReference>
            </connector>
            <label>ルート１：更新する</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckUpdateRecord</name>
        <label>伺いレコードの更新要否</label>
        <locationX>336</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>更新しない</defaultConnectorLabel>
        <rules>
            <name>CheckUpdateRecord_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_QuoteBiddingInquiryRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckStatus</targetReference>
            </connector>
            <label>更新する</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsChangeAttributeSurveyTarget</name>
        <label>属性調査確認対象の変更があるか</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>IsChangePrimaryCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>変更なし</defaultConnectorLabel>
        <rules>
            <name>IsChangeAttributeSurveyTarget_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_IsChangeAttributeSurveyTarget</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAttributeSurveyFields</targetReference>
            </connector>
            <label>変更あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsChangePrimaryCustomer</name>
        <label>一時顧客の変更があるか</label>
        <locationX>336</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>CheckUpdateRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>変更なし</defaultConnectorLabel>
        <rules>
            <name>IsChangePrimaryCustomer_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_IsChangePrimaryCustomer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPrimaryCustomer</targetReference>
            </connector>
            <label>変更あり</label>
        </rules>
    </decisions>
    <description>見積応札伺いの属性調査関連情報を転記する</description>
    <environments>Default</environments>
    <formulas>
        <description>当社関係会社・代理店のひとつ前の取引先ID（当社関係会社・代理店が無ければ一次顧客を設定）</description>
        <name>Formula_AttributeSurveyTarget</name>
        <dataType>String</dataType>
        <expression>IF(INCLUDES({!$Record.CommercialDistributionOfAgency__c}, &apos;商流1&apos;),  {!$Record.ClientName__c},
IF(INCLUDES({!$Record.CommercialDistributionOfAgency__c}, &apos;商流2&apos;), {!$Record.CommercialDistribution1__c},
IF(INCLUDES({!$Record.CommercialDistributionOfAgency__c}, &apos;商流3&apos;), {!$Record.CommercialDistribution2__c},
IF(INCLUDES({!$Record.CommercialDistributionOfAgency__c}, &apos;商流4&apos;), {!$Record.CommercialDistribution3__c},
IF(INCLUDES({!$Record.CommercialDistributionOfAgency__c}, &apos;商流5&apos;), {!$Record.CommercialDistribution4__c},
{!Formula_PrimaryCustomer})))))</expression>
    </formulas>
    <formulas>
        <name>Formula_IsChangeAttributeSurveyTarget</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record__Prior.QuoteBiddingInquiry__r.AttributeSurveyTarget__c} != {!Formula_AttributeSurveyTarget}</expression>
    </formulas>
    <formulas>
        <name>Formula_IsChangePrimaryCustomer</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record__Prior.QuoteBiddingInquiry__r.PrimaryCustomer__c} != {!Formula_PrimaryCustomer}</expression>
    </formulas>
    <formulas>
        <name>Formula_PastIssuedExpirationDate</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.QuoteBiddingInquiry__r.PrimaryCustomer__c}))
, {!$Record.QuoteBiddingInquiry__r.PrimaryCustomer__r.FISExpirationDate__c}
, {!$Record__Prior.QuoteBiddingInquiry__r.PastIssuedExpirationDate__c})</expression>
    </formulas>
    <formulas>
        <description>属性確認対象がある場合、最新の有効期限、ない場合は元の値</description>
        <name>Formula_PastSurveyValidityPeriod</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.QuoteBiddingInquiry__r.AttributeSurveyTarget__c}))
, {!$Record.QuoteBiddingInquiry__r.AttributeSurveyTarget__r.AttributeSurveyDateOfExpiry__c}
, {!$Record__Prior.QuoteBiddingInquiry__r.PastSurveyValidityPeriod__c})</expression>
    </formulas>
    <formulas>
        <description>商流の一番右の顧客を一次顧客として設定</description>
        <name>Formula_PrimaryCustomer</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.CommercialDistribution5__c})), {!$Record.CommercialDistribution5__c},
IF(NOT(ISBLANK({!$Record.CommercialDistribution4__c})), {!$Record.CommercialDistribution4__c},
IF(NOT(ISBLANK({!$Record.CommercialDistribution3__c})), {!$Record.CommercialDistribution3__c},
IF(NOT(ISBLANK({!$Record.CommercialDistribution2__c})), {!$Record.CommercialDistribution2__c},
IF(NOT(ISBLANK({!$Record.CommercialDistribution1__c})), {!$Record.CommercialDistribution1__c},
{!$Record.ClientName__c})))))</expression>
    </formulas>
    <interviewLabel>伺い商流明細属性調査情報転記フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>伺い商流明細属性調査情報転記フロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_InquiryCommercialDistributionDetailRecords</name>
        <label>同一案件のルート1の明細レコード取得</label>
        <locationX>545</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteBiddingInquiry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QuoteBiddingInquiry__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InquiryCommercialDistributionDetail__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateQuoteBiddingInquiry</name>
        <label>伺いを更新</label>
        <locationX>182</locationX>
        <locationY>1547</locationY>
        <inputReference>Var_QuoteBiddingInquiryRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_InquiryCommercialDistributionDetailRecords</targetReference>
        </connector>
        <filterFormula>NOT(ISPICKVAL({!$Record.QuoteBiddingInquiry__r.InquiryApprovalStatus__c}, &quot;承認済&quot;))</filterFormula>
        <object>InquiryCommercialDistributionDetail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>更新する伺いレコード</description>
        <name>Var_QuoteBiddingInquiryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteBiddingInquiry__c</objectType>
    </variables>
</Flow>
