force-app/main/default/flows/InquiryCommercialDistributionItemAutoCreatingFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <constants>
        <name>ConstantCommercialDistribution</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ルート1</stringValue>
        </value>
    </constants>
    <constants>
        <name>ConstantCommercialDistributionNumber</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>JudgeRecordType</name>
        <label>レコードタイプを判定</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>作成対象外</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQuoteSubmissionInquiryRecord</targetReference>
            </connector>
            <label>作成対象</label>
        </rules>
    </decisions>
    <description>コピーの場合初期レコードを作成しない</description>
    <environments>Default</environments>
    <interviewLabel>伺い商流明細自動作成フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>伺い商流明細自動作成フロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createInquiryCommercialDistributionRecord</name>
        <label>伺い商流明細レコード作成</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>ClientName__c</field>
            <value>
                <elementReference>getOpportunityRecord.Client__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommercialDistribution1__c</field>
            <value>
                <elementReference>getOpportunityRecord.GC__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommercialDistribution2__c</field>
            <value>
                <elementReference>getOpportunityRecord.SC__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommercialDistribution3__c</field>
            <value>
                <elementReference>getOpportunityRecord.CommercialDistribution3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommercialDistribution4__c</field>
            <value>
                <elementReference>getOpportunityRecord.CommercialDistribution4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ConstantCommercialDistribution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteBiddingInquiry__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>InquiryCommercialDistributionDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getOpportunityRecord</name>
        <label>案件レコード取得</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createInquiryCommercialDistributionRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getQuoteSubmissionInquiryRecord.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQuoteSubmissionInquiryRecord</name>
        <label>見積・提出伺いレコード取得</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOpportunityRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteBiddingInquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>JudgeRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isFromOpp__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>QuoteBiddingInquiry__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
