force-app/main/default/flows/PendingReportNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendPendingAlertMail</name>
        <label>結果未報告アラートメール送信</label>
        <locationX>138</locationX>
        <locationY>900</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>loopQuoteBiddingInquiryList</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>var_Addresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>MailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>var_MailText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>assign_MailText</name>
        <label>メール本文作成</label>
        <locationX>138</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>テスト</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetOwnerToMailList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOwnerToMailList</name>
        <label>レコード所有者を宛先に追加する</label>
        <locationX>138</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>var_Addresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopQuoteBiddingInquiryList.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendPendingAlertMail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isExistTargetRecord</name>
        <label>処理対象が存在するか</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>取得結果がない</defaultConnectorLabel>
        <rules>
            <name>isExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTargetRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopQuoteBiddingInquiryList</targetReference>
            </connector>
            <label>取得結果がある</label>
        </rules>
    </decisions>
    <decisions>
        <name>JudgeDate</name>
        <label>通知日を判定</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>通知日ではない</defaultConnectorLabel>
        <rules>
            <name>isNoticeDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoticeDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTargetRecords</targetReference>
            </connector>
            <label>通知日</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;テスト&apos;</expression>
    </formulas>
    <formulas>
        <name>NoticeDate</name>
        <dataType>Boolean</dataType>
        <expression>DAY(TODAY()) = 1</expression>
    </formulas>
    <formulas>
        <name>OneMonthsAgoDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(), -1)</expression>
    </formulas>
    <formulas>
        <name>orgUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_560}  ,FIND(&quot;/services/Soap/&quot;, {!$Api.Partner_Server_URL_560})) + &apos;lightning/r/QuoteBiddingInquiry__c/&apos; + {!loopQuoteBiddingInquiryList.Id} + &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>ThreeMonthsAgoDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(), -3)</expression>
    </formulas>
    <interviewLabel>未報告の結果報告アラート {!$Flow.CurrentDateTime}</interviewLabel>
    <label>未報告の結果報告アラート</label>
    <loops>
        <name>loopQuoteBiddingInquiryList</name>
        <label>処理対象レコードリストをループ</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <collectionReference>getTargetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_MailText</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getTargetRecords</name>
        <label>処理対象の見積・応札伺いを取得</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isExistTargetRecord</targetReference>
        </connector>
        <filterLogic>(1 AND 3 AND 5) OR (1 AND 2 AND 4 AND 6)</filterLogic>
        <filters>
            <field>ResultContactStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>未申請</stringValue>
            </value>
        </filters>
        <filters>
            <field>InquiryApprovalDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BidCheck__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BidCheck__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BidOpeningDay__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>OneMonthsAgoDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>InquiryApprovalDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>ThreeMonthsAgoDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteBiddingInquiry__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>JudgeDate</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-08-29</startDate>
            <startTime>08:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>var_Addresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_MailText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
