force-app/main/default/flows/PostChatterToDeadlineExccessRequestTask.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>postChatterWithRelateUser</name>
        <label>関係ユーザにメンションしてChatter投稿</label>
        <locationX>3300</locationX>
        <locationY>998</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>deleteUsedVariableFromListWhenUser</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>AlertChatterTemplateUser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>loopRequestTasks.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>postChatterWithRelateUserIncludeDelegatedApprover</name>
        <label>代理承認者含む関係ユーザにメンションしてChatter投稿</label>
        <locationX>3036</locationX>
        <locationY>998</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>deleteUsedVariableFromListWhenUser</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>AlertChatterTemplateUserIncludeDelegatedApprover</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>loopRequestTasks.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>処理対象プロセスインスタンスリストを変数に割り当て</description>
        <name>assignGetTargetProcessInstanceToVariable</name>
        <label>処理対象プロセスインスタンスリストを変数に割り当て</label>
        <locationX>2112</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>getTargetProcessInstanceCopy</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getTargetProcessInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopProcessInstanceList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTargetRecordsToVariable</name>
        <label>処理対象依頼タスクを変数に割り当て</label>
        <locationX>2948</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>getTargetRecordsCopy</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getTargetRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopRequestTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>不要なループを回避するため、ループ対象のリストを空にする。</description>
        <name>clearProcessInstanceListAndRequestTaskListAfterUser</name>
        <label>プロセスインスタンスリストと依頼タスクリストを空にする</label>
        <locationX>3168</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>getTargetProcessInstanceCopy</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>getTargetProcessInstanceCopy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecordsCopy</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>getTargetRecordsCopy</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopRequestTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>使用済み変数をリストから削除する。
ループ数を削減する。</description>
        <name>deleteUsedVariableFromListWhenUser</name>
        <label>使用済み変数をリストから削除</label>
        <locationX>3168</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>getTargetProcessInstance</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>loopProcessInstanceList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetRecords</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>loopRequestTasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>clearProcessInstanceListAndRequestTaskListAfterUser</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckDelegatedApprover</name>
        <label>代理承認者の設定有無</label>
        <locationX>3168</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>postChatterWithRelateUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>代理承認者設定なし</defaultConnectorLabel>
        <rules>
            <name>SettingDelegatedApprover</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopTargetProcessInstanceWorkItemList.Actor:User.DelegatedApproverId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>postChatterWithRelateUserIncludeDelegatedApprover</targetReference>
            </connector>
            <label>代理承認者設定あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>isMatchObjectId</name>
        <label>オブジェクトIDが一致</label>
        <locationX>3366</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>loopRequestTasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>不一致</defaultConnectorLabel>
        <rules>
            <name>isMatchId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopProcessInstanceList.TargetObjectId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loopRequestTasks.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckDelegatedApprover</targetReference>
            </connector>
            <label>IDが一致</label>
        </rules>
    </decisions>
    <decisions>
        <name>isMatchProcessInstanceId</name>
        <label>プロセスインスタンスIDが一致</label>
        <locationX>3080</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>loopProcessInstanceList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>不一致</defaultConnectorLabel>
        <rules>
            <name>isMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopTargetProcessInstanceWorkItemList.ProcessInstance.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loopProcessInstanceList.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTargetRecordsToVariable</targetReference>
            </connector>
            <label>IDが一致</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>グループ名を割り当てるための変数</description>
        <name>groupName</name>
        <dataType>String</dataType>
        <expression>CASE( {!loopRequestTasks.RequestTo__c},
&apos;神電公共営・本駐神電社シ一一計&apos;, {!$Label.CG39},
&apos;神電公共営・神電社シ一二計&apos;, {!$Label.CG40},
&apos;神電施設エンジ&apos;, {!$Label.CG41},
&apos;配電東配計&apos;, {!$Label.CG42},
&apos;配電西配計&apos;, {!$Label.CG43},
&apos;長電施電シ&apos;, {!$Label.CG44},
&apos;長電映シ&apos;, {!$Label.CG45},
&apos;本駐神電社シ一一計&apos;, {!$Label.CG46},
&apos;神電社シ一二計&apos;, {!$Label.CG47},
&apos;長電施設営&apos;, {!$Label.CG48},
&apos;[水環境BU・官需BU]本プラ・都公建&apos;, {!$Label.CG49},
&apos;[水環境BU・官需BU]本プラ・広公建&apos;, {!$Label.CG50},
&apos;[水環境BU・官需BU]本プラ・施設建&apos;, {!$Label.CG51},
&apos;[水環境BU・官需BU]本プラ・東北建&apos;, {!$Label.CG52},
&apos;[水環境BU・官需BU]北支・プラ建・建設&apos;, {!$Label.CG53},
&apos;[水環境BU・官需BU]中部支・プラ建・建設&apos;, {!$Label.CG54},
&apos;[水環境BU・官需BU]西支・プラ建・建設一&apos;, {!$Label.CG55},
&apos;[水環境BU・官需BU]西支・プラ建・建設二&apos;, {!$Label.CG56},
&apos;[水環境BU・官需BU]九支・プラ建・建設課&apos;, {!$Label.CG57},
&apos;[官需BU]神電社会営&apos;, {!$Label.CG58},
&apos;[施設BU]神電社会営&apos;, {!$Label.CG59},
&apos;[水環境BU・官需BU]長電施設営&apos;, {!$Label.CG60},
&apos;[施設BU]長電施設営&apos;, {!$Label.CG61},
&apos;[官需BU]配電社会営&apos;, {!$Label.CG62},
&apos;[施設BU]配電社会営&apos;, {!$Label.CG63},
&apos;[施設BU]本プラ・施設建&apos;, {!$Label.CG64},
&apos;[施設BU]本プラ・東北建&apos;, {!$Label.CG65},
&apos;[施設BU]北支・プラ建・建設&apos;, {!$Label.CG66},
&apos;[施設BU]中部支・プラ建・建設&apos;, {!$Label.CG67},
&apos;[施設BU]西支・プラ建・建設一&apos;, {!$Label.CG68},
&apos;[施設BU]西支・プラ建・建設二&apos;, {!$Label.CG69},
&apos;[施設BU]九支・プラ建・建設課&apos;, {!$Label.CG70},
&apos;神電公共営&apos;, {!$Label.CG71},
&apos;神電社会営&apos;, {!$Label.CG72},
&apos;配電社会営&apos;, {!$Label.CG73},
&apos;本プラ・都公建&apos;, {!$Label.CG74},
&apos;本プラ・広公建&apos;, {!$Label.CG75},
&apos;本プラ・施設建&apos;, {!$Label.CG76},
&apos;本プラ・東北建&apos;, {!$Label.CG77},
&apos;北支・プラ建・建設&apos;, {!$Label.CG78},
&apos;中部支・プラ建・建設&apos;, {!$Label.CG79},
&apos;西支・プラ建・建設一&apos;, {!$Label.CG80},
&apos;西支・プラ建・建設二&apos;, {!$Label.CG81},
&apos;九支・プラ建・建設課&apos;, {!$Label.CG82},
&apos;配電スマ営&apos;, {!$Label.CG83},
&apos;本駐神電パワエレ計&apos;, {!$Label.CG84},
&apos;西支・中部支・九支駐神電パワエレ計&apos;, {!$Label.CG85},
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>orgUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_560} ,FIND(&quot;/services/Soap/&quot;, {!$Api.Partner_Server_URL_560}))</expression>
    </formulas>
    <formulas>
        <description>依頼タスク.メンション先グループが入力されている場合はメンション先グループの値を表示、未入力の場合は空欄とする数式。</description>
        <name>requestToFormula</name>
        <dataType>String</dataType>
        <expression>IF (ISBLANK({!groupName}), &apos;&apos;, BR() &amp; &apos;@[&apos; &amp; {!groupName} &amp; &apos;]&apos; )</expression>
    </formulas>
    <interviewLabel>期限超過かつ未承認の承認申請のアラート {!$Flow.CurrentDateTime}</interviewLabel>
    <label>期限超過かつ未承認の承認申請のアラートChatter投稿</label>
    <loops>
        <name>loopProcessInstanceList</name>
        <label>プロセスインスタンスをループ</label>
        <locationX>2112</locationX>
        <locationY>350</locationY>
        <collectionReference>getTargetProcessInstanceCopy</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isMatchProcessInstanceId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopTargetProcessInstanceWorkItemList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopRequestTasks</name>
        <label>処理対象依頼タスクをループ</label>
        <locationX>2948</locationX>
        <locationY>674</locationY>
        <collectionReference>getTargetRecordsCopy</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isMatchObjectId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopProcessInstanceList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopTargetProcessInstanceWorkItemList</name>
        <label>処理対象の承認申請をループ</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>getTargetProcessInstanceWorkItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignGetTargetProcessInstanceToVariable</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>loopTargetProcessInstanceWorkItemList</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AlertChatterTemplateQueue</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>以下依頼タスクレコードの回答期限が超過していますので確認をお願いします。
依頼元への回答が遅れる場合、回答予定日を本日以降の日付に設定してください。
{!orgUrl}{!loopTargetProcessInstanceWorkItemList.Id}

依頼タスク名: {!loopRequestTasks.Name}
依頼区分: {!loopRequestTasks.TaskCategory__c}
@[{!dbd76438-9dc2-4ccc-b18d-49619a35364e.Id}]
@[{!dbd76438-9dc2-4ccc-b18d-49619a35364e.DelegatedApproverId}]
@[{!loopProcessInstanceList.SubmittedBy.Id}]
@[{!loopRequestTasks.OwnerId}]</text>
    </textTemplates>
    <textTemplates>
        <description>代理承認者を含まない期限超過アラート</description>
        <name>AlertChatterTemplateUser</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>以下依頼タスクレコードの回答期限が超過していますので確認をお願いします。
依頼元への回答が遅れる場合、回答予定日を本日以降の日付に設定してください。
{!orgUrl}{!loopTargetProcessInstanceWorkItemList.Id}

依頼タスク名: {!loopRequestTasks.Name}
依頼区分: {!loopRequestTasks.TaskCategory__c}
@[{!loopTargetProcessInstanceWorkItemList.ActorId}]
@[{!loopProcessInstanceList.SubmittedBy.Id}]
@[{!loopRequestTasks.OwnerId}]</text>
    </textTemplates>
    <textTemplates>
        <description>代理承認者を含む期限超過アラート</description>
        <name>AlertChatterTemplateUserIncludeDelegatedApprover</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>以下依頼タスクレコードの回答期限が超過していますので確認をお願いします。
依頼元への回答が遅れる場合、回答予定日を本日以降の日付に設定してください。
{!orgUrl}{!loopTargetProcessInstanceWorkItemList.Id}

依頼タスク名: {!loopRequestTasks.Name}
依頼区分: {!loopRequestTasks.TaskCategory__c}
@[{!loopTargetProcessInstanceWorkItemList.ActorId}]
@[{!loopTargetProcessInstanceWorkItemList.Actor:User.DelegatedApproverId}]
@[{!loopProcessInstanceList.SubmittedBy.Id}]
@[{!loopRequestTasks.OwnerId}]</text>
    </textTemplates>
    <variables>
        <name>getChatterGroupList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CollaborationGroup</objectType>
    </variables>
    <variables>
        <name>getQueueMailUser</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>getQueueRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>getTargetProcessInstance</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstance</objectType>
    </variables>
    <variables>
        <description>処理対象プロセスインスタンスリストのコピー</description>
        <name>getTargetProcessInstanceCopy</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstance</objectType>
    </variables>
    <variables>
        <name>getTargetProcessInstanceWorkItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstanceWorkitem</objectType>
    </variables>
    <variables>
        <name>getTargetRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>RequestTask__c</objectType>
    </variables>
    <variables>
        <name>getTargetRecordsCopy</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RequestTask__c</objectType>
    </variables>
</Flow>
