force-app/main/default/flows/PricingTableSetMasterCode.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>checkRecordType</name>
        <label>明細（レコードタイプ）</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>その他</defaultConnectorLabel>
        <rules>
            <name>Detail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Detail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>insertDetailRecord</targetReference>
            </connector>
            <label>明細（レコードタイプ）</label>
        </rules>
        <rules>
            <name>Chassis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chassis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>insertChassisRecord</targetReference>
            </connector>
            <label>筐体（レコードタイプ）</label>
        </rules>
    </decisions>
    <description>プロセスビルダー「価格表のマスタコード作成（自動登録）」から移行</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_MasterCode_Chassis</name>
        <dataType>String</dataType>
        <expression>&apos;K&apos; + TEXT( {!$Record.BU__c}  ) + {!$Record.MajorClassificationCode__c} + {!$Record.MinorClassificationCode__c}  + TEXT( {!$Record.RECNo__c}  ) + IF(LEN(TEXT({!$Record.SpecialSpecificationNo__c})) = 1,&apos;0&apos;,&apos;&apos;) + TEXT({!$Record.SpecialSpecificationNo__c} )</expression>
    </formulas>
    <formulas>
        <name>formula_MasterCode_Detail</name>
        <dataType>String</dataType>
        <expression>&apos;M&apos; + TEXT( {!$Record.BU__c}  ) + {!$Record.MajorClassificationCode__c} + {!$Record.MinorClassificationCode__c} + TEXT( {!$Record.RECNo__c} )  + IF(LEN(TEXT({!$Record.SpecialSpecificationNo__c})) = 1,&apos;0&apos;,&apos;&apos;) + TEXT({!$Record.SpecialSpecificationNo__c} )</expression>
    </formulas>
    <interviewLabel>【価格表】マスタコード設定 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【価格表】マスタコード設定</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>insertChassisRecord</name>
        <label>筐体マスタコードを作成</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>MasterCode__c</field>
            <value>
                <elementReference>formula_MasterCode_Chassis</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>insertDetailRecord</name>
        <label>明細マスタコードを作成</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>MasterCode__c</field>
            <value>
                <elementReference>formula_MasterCode_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkRecordType</targetReference>
        </connector>
        <object>PricingTable__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
