force-app/main/default/flows/PriorQuoteSpecificationNumber.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>redirect</name>
        <label>redirect</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>redirect20240206</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>input_ParentRecordId</name>
            <value>
                <elementReference>$Record.Quote__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>redirect20240206</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>【見積項目】変更前の見積番号保存フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【見積項目】変更前の見積番号保存フロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateRecord</name>
        <label>updateRecord</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>redirect</targetReference>
        </connector>
        <inputAssignments>
            <field>PriorQuoteSpecificationNumber__c</field>
            <value>
                <elementReference>$Record.QuoteSpecificationNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>updateRecord</targetReference>
        </connector>
        <filterFormula>ISNEW() || ISCHANGED({!$Record.QuoteSpecificationNumber__c})</filterFormula>
        <object>Device__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
