force-app/main/default/flows/QuoteBiddingInquiry_MailNotificationOnBusinessManagementPromotion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>ICP審査担当キューとICP審査GRに通知メールを送信する。</description>
        <name>action_MailToICP</name>
        <label>ICP審査担当への通知メール</label>
        <locationX>176</locationX>
        <locationY>1271</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>var_Addresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>MailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>var_MailText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_MailText</name>
        <label>メール本文作成</label>
        <locationX>176</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&lt;社外秘&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;事管推より、以下の承認申請が登録されました。</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;ご確認の上、承認をお願いいたします。&lt;br&gt;&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>伺い件名：&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;&lt;br&gt;伺い区分：&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;&lt;br&gt;詳細リンク：&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_RecordPageURL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;以上</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>action_MailToICP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetICPGRToMailList</name>
        <label>ICP審査担当GRを宛先に追加する</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>var_Addresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_ICPGR.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_MailText</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetICPMenberAddressToMailList</name>
        <label>ICP審査担当ユーザーアドレスを宛先に追加する</label>
        <locationX>264</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>var_Addresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopICPRoleUser.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopICPRoleUser</targetReference>
        </connector>
    </assignments>
    <description>事管推担当承認時にICP審査担当ロール、ICP審査担当GRにメール通知を行う。</description>
    <environments>Default</environments>
    <formulas>
        <description>送信するメールの件名。</description>
        <name>MailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;(社外秘)承認依頼「&quot;+ {!$Record.Name} + &quot;」&quot;</expression>
    </formulas>
    <formulas>
        <name>var_RecordPageURL</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_560  ,FIND(&quot;/services/Soap/&quot;, $Api.Partner_Server_URL_560)) + &apos;lightning/r/QuoteBiddingInquiry__c/&apos; + {!$Record.Id} + &apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>!TerraSky202407 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>見積・応札伺い事管推担当承認時メール通知</label>
    <loops>
        <name>LoopICPRoleUser</name>
        <label>取得したICP審査担当ロールメンバーをループする</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <collectionReference>get_ICPMemberRoleUsers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetICPMenberAddressToMailList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetICPGRToMailList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_ICPGR</name>
        <label>ICP審査担当GR取得</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopICPRoleUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetICPGRRoleID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>ICP審査担当メンバーロールのIDを取得する。</description>
        <name>get_ICPMemberRoleId</name>
        <label>ICP審査担当ロールID取得</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ICPMemberRoleUsers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>M01811_ICPGroup_Member</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_ICPMemberRoleUsers</name>
        <label>ICP審査担当ユーザ情報取得</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetICPGRRoleID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_ICPMemberRoleId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetICPGRRoleID</name>
        <label>ICP審査GRロールID取得</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ICPGR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>M0181_ICPGroup_GR</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_ICPMemberRoleId</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ICPReviewTarget__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>InquiryApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>事管推課長</stringValue>
            </value>
        </filters>
        <object>QuoteBiddingInquiry__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>依頼タスク.状況が自部門承認済/依頼発信に変更された際にChatter通知するテキスト。</description>
        <name>text_approvedByDepartment</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>担当者@[{!$Record.OwnerId}]
以下の依頼タスクが自部門承認済/依頼発信となりました。
{!test2}</text>
    </textTemplates>
    <variables>
        <name>test2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Addresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ICPQueueMenberIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ICPQueueSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>var_MailText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
