force-app/main/default/flows/QuoteBiddingInquiry_UnapprovedRemindFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>未承認の見積・応札伺いに対して、割当先のメールアドレス宛にアラートメールを送信する。</description>
        <name>action_QuoteBiddingInquiryUnapprovedAlert</name>
        <label>見積・応札伺い未承認アラートメール</label>
        <locationX>264</locationX>
        <locationY>2040</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>var_Addresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>MailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>var_MailText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>assign_MailText</name>
        <label>メール本文作成</label>
        <locationX>264</locationX>
        <locationY>1932</locationY>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>以下の承認申請が登録され、</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.UnapprovedRemindCategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>時間が経過しました。&lt;br&gt;ご確認の上、承認をお願いいたします。&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;伺い件名：</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;伺い区分：</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;詳細リンク：</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_RecordPageURL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>action_QuoteBiddingInquiryUnapprovedAlert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignApproverAddress</name>
        <label>承認者のアドレス追加</label>
        <locationX>352</locationX>
        <locationY>1740</locationY>
        <assignmentItems>
            <assignToReference>var_Addresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_OriginalActorUser.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_MailText</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetQueueMenberAddressToMailList</name>
        <label>キューアドレスを宛先に追加する</label>
        <locationX>352</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>var_Addresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopQueueUser.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQueueUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetQueueMenberIdToQueueMenberIdList</name>
        <label>キューアドレスを宛先に追加する</label>
        <locationX>352</locationX>
        <locationY>1032</locationY>
        <assignmentItems>
            <assignToReference>var_QueueMenberIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopQueueMenber.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQueueMenber</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ApproverIsUserorQueue</name>
        <label>承認者がユーザかキューか</label>
        <locationX>264</locationX>
        <locationY>1632</locationY>
        <defaultConnector>
            <targetReference>AssignApproverAddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>承認者がユーザ</defaultConnectorLabel>
        <rules>
            <name>ApproverIsQueue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Addresses</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MailText</targetReference>
            </connector>
            <label>承認者がキュー</label>
        </rules>
    </decisions>
    <decisions>
        <description>承認プロセスインスタンスが有効かつ未決かを状況から判断する。</description>
        <name>decision_AlertNeeded</name>
        <label>アラートが必要か</label>
        <locationX>440</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>アラート不要</defaultConnectorLabel>
        <rules>
            <name>result_AlertNeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ProcessInstanceStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ProcessInstanceStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ProcessInstanceStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Removed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ProcessInstanceStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Fault</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_ProcessInstanceWorkitem</targetReference>
            </connector>
            <label>要アラート</label>
        </rules>
    </decisions>
    <description>未承認アラート発信日時の1分後に未承認アラートメールを送る。</description>
    <environments>Default</environments>
    <formulas>
        <description>送信するメールの件名。</description>
        <name>MailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;(社外秘)未承認アラート「&quot;+ {!$Record.Name} + &quot;」&quot;</expression>
    </formulas>
    <formulas>
        <name>var_RecordPageURL</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_350  ,FIND(&quot;/services/Soap/&quot;, $Api.Partner_Server_URL_350)) + &apos;lightning/r/QuoteBiddingInquiry__c/&apos; + {!$Record.Id} + &apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>見積・応札伺い未承認アラート {!$Flow.CurrentDateTime}</interviewLabel>
    <label>見積・応札伺い未承認アラート</label>
    <loops>
        <name>LoopQueueMenber</name>
        <label>取得した承認担当キューグループメンバーをループする</label>
        <locationX>264</locationX>
        <locationY>924</locationY>
        <collectionReference>get_QueueMenber</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetQueueMenberIdToQueueMenberIdList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_QueueUsers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopQueueUser</name>
        <label>取得した承認担当キューメンバーをループする</label>
        <locationX>264</locationX>
        <locationY>1332</locationY>
        <collectionReference>get_QueueUsers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetQueueMenberAddressToMailList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ApproverIsUserorQueue</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>アラート対象のキュー情報を取得する</description>
        <name>get_ActorQueueId</name>
        <label>アクター(キュー)取得</label>
        <locationX>264</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_QueueMenber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OriginalActorId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>アラート対象の割当先情報を取得する。</description>
        <name>get_ActorUser</name>
        <label>アクター取得（ユーザ）</label>
        <locationX>264</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ActorQueueId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OriginalActorId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>var_OriginalActorUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DelegatedApproverId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>見積・応札伺いに設定された『未承認アラート対象プロセスインスタンスID』でレコードを取得する。</description>
        <name>get_ProcessInstanceByTargetId</name>
        <label>対象プロセスインスタンスIDでプロセスインスタンス取得</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_AlertNeeded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.UnapprovedRemindTargetProcessInstanceId__c</elementReference>
            </value>
        </filters>
        <object>ProcessInstance</object>
        <outputAssignments>
            <assignToReference>var_ProcessInstanceStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>未承認アラート対象プロセスインスタンス内の最新承認申請レコードを取得する。</description>
        <name>get_ProcessInstanceWorkitem</name>
        <label>承認申請取得</label>
        <locationX>264</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ActorUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.UnapprovedRemindTargetProcessInstanceId__c</elementReference>
            </value>
        </filters>
        <object>ProcessInstanceWorkitem</object>
        <outputAssignments>
            <assignToReference>var_OriginalActorId</assignToReference>
            <field>ActorId</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>get_QueueMenber</name>
        <label>キューのメンバー取得</label>
        <locationX>264</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopQueueMenber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_ActorQueueId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_QueueUsers</name>
        <label>キューから取得したユーザ情報でメールアドレス取得</label>
        <locationX>264</locationX>
        <locationY>1224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopQueueUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>var_QueueMenberIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UnapprovedRemindLimit__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>QuoteBiddingInquiry__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>UnapprovedRemindLimitAfter1minute</name>
            <connector>
                <targetReference>get_ProcessInstanceByTargetId</targetReference>
            </connector>
            <label>アラート発信日時の1分後</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>UnapprovedRemindLimit__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>500</triggerOrder>
    <variables>
        <name>var_Addresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_MailText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>元のアクターID</description>
        <name>var_OriginalActorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>承認ステップに本来割り当てられているユーザ。</description>
        <name>var_OriginalActorUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>承認プロセスインスタンスの状況を保持する。</description>
        <name>var_ProcessInstanceStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_QueueMenberIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
