force-app/main/default/flows/QuoteCopyGeneralAdministrativeExpenses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>isChangeGeneralAdministrativeExpenses</name>
        <label>一般管理費率変更時</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>変更なし</defaultConnectorLabel>
        <rules>
            <name>Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GeneralAdministrativeExpenses__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateGeneralAdministrativeExpenses</targetReference>
            </connector>
            <label>変更あり</label>
        </rules>
    </decisions>
    <description>プロセスビルダー「一般管理費コピー」から移行</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_GeneralAdministrativeExpenses</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Record.GeneralAdministrativeExpenses__c} ) * 1</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>formula_TextDivision</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Opportunity__r.PickDivision__c} )</expression>
    </formulas>
    <interviewLabel>【見積】一般管理費率コピー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【見積】一般管理費率コピー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateGeneralAdministrativeExpenses</name>
        <label>見積項目 一般管理費更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>GeneralAdministrativeExpensesCopy__c</field>
            <value>
                <elementReference>formula_GeneralAdministrativeExpenses</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Devices__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isChangeGeneralAdministrativeExpenses</targetReference>
        </connector>
        <object>Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
