force-app/main/default/flows/QuoteBiddingInquiryRecordCopy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>SetNewRecordTypeIdPattern1</name>
        <label>レコードタイプIDの割り当て</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>NewRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordTypePattern1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordTypeId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNewRecordTypeIdPattern2</name>
        <label>レコードタイプIDの割り当て</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>NewRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordTypePattern2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordTypeId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNewRecordTypeIdPattern3</name>
        <label>レコードタイプIDの割り当て</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>NewRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordTypePattern3.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordTypeId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNewRecordTypeIdPattern4</name>
        <label>レコードタイプIDの割り当て</label>
        <locationX>842</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>NewRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordTypePattern4.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordTypeId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNewRecordTypeIdPattern5</name>
        <label>レコードタイプIDの割り当て</label>
        <locationX>1106</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>NewRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordTypePattern5.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordTypeId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRecordName</name>
        <label>見積・応札伺いレコード件名を割り当て</label>
        <locationX>710</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>NewName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>jugeRecordType</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>jugeRecordType</name>
        <label>レコードタイプを判定</label>
        <locationX>710</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>その他</defaultConnectorLabel>
        <rules>
            <name>pattern1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewNameRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>見</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordTypePattern1</targetReference>
            </connector>
            <label>見積伺い</label>
        </rules>
        <rules>
            <name>pattern2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewNameRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>応</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordTypePattern2</targetReference>
            </connector>
            <label>応札伺い</label>
        </rules>
        <rules>
            <name>pattern3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NewNameRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>J</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewNameRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ｊ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordTypePattern3</targetReference>
            </connector>
            <label>JV締結認可伺い</label>
        </rules>
        <rules>
            <name>pattern4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewNameRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>設</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordTypePattern4</targetReference>
            </connector>
            <label>設計変更伺い</label>
        </rules>
        <rules>
            <name>pattern5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewNameRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>手</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordTypePattern5</targetReference>
            </connector>
            <label>手数料伺い</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewNameRecordType</name>
        <dataType>String</dataType>
        <expression>LEFT({!NewName},1)</expression>
    </formulas>
    <interviewLabel>見積・応札伺いコピー後更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>見積・応札伺いレコードコピー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRecordTypePattern1</name>
        <label>レコードタイプを取得</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetNewRecordTypeIdPattern1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QuoteBiddingInquiry__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>M</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypePattern2</name>
        <label>レコードタイプを取得</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetNewRecordTypeIdPattern2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QuoteBiddingInquiry__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>O</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypePattern3</name>
        <label>レコードタイプを取得</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetNewRecordTypeIdPattern3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QuoteBiddingInquiry__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JV</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypePattern4</name>
        <label>レコードタイプを取得</label>
        <locationX>842</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetNewRecordTypeIdPattern4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QuoteBiddingInquiry__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SH</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypePattern5</name>
        <label>レコードタイプを取得</label>
        <locationX>1106</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetNewRecordTypeIdPattern5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QuoteBiddingInquiry__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FeeInquiry</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecordTypeId</name>
        <label>レコードタイプIDを更新</label>
        <locationX>710</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>InquiryApprovalStatus__c</field>
            <value>
                <stringValue>未申請</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>NewRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResultContactStatus__c</field>
            <value>
                <stringValue>未申請</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetRecordName</targetReference>
        </connector>
        <object>QuoteBiddingInquiry__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
