force-app/main/default/flows/QuoteBulkApprovalAction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CallBulkApprovalApex</name>
        <label>一括承認Apexを起動</label>
        <locationX>1304</locationX>
        <locationY>1874</locationY>
        <actionName>QuoteBulkApprovalAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JudgeApprovalProcess</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>targetQuoteIdList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QuoteBulkApprovalAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AssignQuoteBiddingInquiryName</name>
        <label>取得した見積・応札伺い名を割り当て</label>
        <locationX>1392</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>QuoteBiddingInquiryName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopQuoteBiddingInquirys.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteBiddingInquiryName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;BR&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQuoteBiddingInquirys</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateTargetQuoteList</name>
        <label>処理対象依頼タスクIDリストを作成</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>targetQuoteIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SearchProcessInstance.TargetObjectId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopProcessInstanceWorkItem</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckApprovar</name>
        <label>承認者割り当て有無チェック</label>
        <locationX>1106</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>GetQuoteBiddingInquiryRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>承認者に割り当たっている申請がある</defaultConnectorLabel>
        <rules>
            <name>NoApprovar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>targetQuoteIdList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoRecordPage</targetReference>
            </connector>
            <label>承認者に割り当たっている申請がない</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTargetProcessInstance</name>
        <label>プロセスインスタンスの処理チェック</label>
        <locationX>1766</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>LoopProcessInstanceWorkItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>処理対象外のプロセスインスタンス</defaultConnectorLabel>
        <rules>
            <name>TargetProcessInstance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchProcessInstance.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopProcessInstanceWorkItem.ProcessInstanceId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateTargetQuoteList</targetReference>
            </connector>
            <label>処理対象のプロセスインスタンス</label>
        </rules>
    </decisions>
    <decisions>
        <name>JudgeApprovalProcess</name>
        <label>承認処理判定</label>
        <locationX>1304</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>processError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>失敗</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CallBulkApprovalApex.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProcessSuccess</targetReference>
            </connector>
            <label>成功</label>
        </rules>
    </decisions>
    <decisions>
        <name>NoSelectErrorCheck</name>
        <label>未選択エラー判定</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>GetProcessInstance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>選択済み</defaultConnectorLabel>
        <rules>
            <name>NoSelect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoSelectScreen</targetReference>
            </connector>
            <label>未選択時</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>見積・応札伺い一括承認 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>見積・応札伺い一括承認</label>
    <loops>
        <name>LoopProcessInstanceWorkItem</name>
        <label>承認申請のプロセスインスタンスIDでループする</label>
        <locationX>1546</locationX>
        <locationY>674</locationY>
        <collectionReference>GetProcessInstanceWorkItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckTargetProcessInstance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SearchProcessInstance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopQuoteBiddingInquirys</name>
        <label>取得した見積・応札伺いをループする</label>
        <locationX>1304</locationX>
        <locationY>1466</locationY>
        <collectionReference>quoteBiddingInquirys</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignQuoteBiddingInquiryName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckApproval</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SearchProcessInstance</name>
        <label>処理対象プロセスインスタンスを探す</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <collectionReference>GetProcessInstance</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LoopProcessInstanceWorkItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckApprovar</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetProcessInstance</name>
        <label>承認プロセスインスタンスを取得</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createTargerProcessInstanceIdList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProcessInstanceWorkItem</name>
        <label>承認申請を取得</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SearchProcessInstance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>In</operator>
            <value>
                <elementReference>targetProcessInstanceIdList</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActorId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuoteBiddingInquiryRecords</name>
        <label>見積・応札伺いレコード取得</label>
        <locationX>1304</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopQuoteBiddingInquirys</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>targetQuoteIdList</elementReference>
            </value>
        </filters>
        <object>QuoteBiddingInquiry__c</object>
        <outputReference>quoteBiddingInquirys</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>CheckApproval</name>
        <label>承認確認</label>
        <locationX>1304</locationX>
        <locationY>1766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CallBulkApprovalApex</targetReference>
        </connector>
        <fields>
            <name>ApprovalRecordList</name>
            <fieldText>&lt;p&gt;承認レコード一覧&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 68, 255); font-size: 16px;&quot;&gt;{!QuoteBiddingInquiryName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoRecordPage</name>
        <label>承認対象なし画面</label>
        <locationX>908</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;選択した見積・応札伺いの中に、&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;あなたが現在承認者に割り当てられている見積・応札伺いデータはありません。&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoSelectScreen</name>
        <label>承認対象未選択</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoSelectMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;承認する見積・応札伺いを1件も選択していません。&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;1件以上選択してから再実行してください。&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>processError</name>
        <label>実行結果表示(失敗)</label>
        <locationX>1436</locationX>
        <locationY>2090</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;承認処理が失敗しました。&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 153, 255);&quot;&gt;システム管理者に報告してください。&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProcessSuccess</name>
        <label>実行結果表示(成功)</label>
        <locationX>1172</locationX>
        <locationY>2090</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;承認処理が成功しました。&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NoSelectErrorCheck</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>createTargerProcessInstanceIdList</name>
        <label>処理対象プロセスインスタンスIDリストを作成</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>GetProcessInstanceWorkItem</targetReference>
        </connector>
        <flowName>createTargerProcessInstanceIdList</flowName>
        <inputAssignments>
            <name>getTargetProcessInstance</name>
            <value>
                <elementReference>GetProcessInstance</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>targetProcessInstanceIdList</assignToReference>
            <name>targetProcessInstanceIdList</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteBiddingInquiryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteBiddingInquirys</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteBiddingInquiry__c</objectType>
    </variables>
    <variables>
        <name>targetProcessInstanceIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>targetQuoteIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
