force-app/main/default/flows/QuoteBiddingInquiry_MailNotificationOnICPQueueCheck.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>ICP審査GRに通知メールを送信する。</description>
        <name>action_MailToICPGR</name>
        <label>ICP審査GRへの通知メール</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>var_Addresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>MailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>var_MailText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>assign_MailText</name>
        <label>メール本文作成</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&lt;社外秘&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;ICP審査担当の、確認が完了しました。</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;ご確認の上、承認をお願いいたします。&lt;br&gt;&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>伺い件名：&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;&lt;br&gt;伺い区分：&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;&lt;br&gt;詳細リンク：&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_RecordPageURL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;以上</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>action_MailToICPGR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetICPGRToMailList</name>
        <label>ICP審査担当GRを宛先に追加する</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_Addresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_ICPGR.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_MailText</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <description>送信するメールの件名。</description>
        <name>MailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;(社外秘)承認依頼「&quot;+ {!$Record.Name} + &quot;」&quot;</expression>
    </formulas>
    <formulas>
        <name>var_RecordPageURL</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_560  ,FIND(&quot;/services/Soap/&quot;, $Api.Partner_Server_URL_560)) + &apos;lightning/r/QuoteBiddingInquiry__c/&apos; + {!$Record.Id} + &apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>ICP審査担当確認チェック時メール通知 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>見積・応札伺いICP審査担当確認チェック時メール通知</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_ICPGR</name>
        <label>ICP審査担当GR取得</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetICPGRToMailList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetICPGRRoleID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetICPGRRoleID</name>
        <label>ICP審査GRロールID取得</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ICPGR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>M0181_ICPGroup_GR</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetICPGRRoleID</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IcpExaminationRepConfirmation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>QuoteBiddingInquiry__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Addresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_MailText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
