force-app/main/default/flows/RequestTaskAnswerUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>decision_isStatusUpdate</name>
        <label>状況更新対象か判定</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>UpdateRequestTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>状況更新対象外</defaultConnectorLabel>
        <rules>
            <name>isAdvanceOrderRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RequestTask__r.TaskCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>先行手配依頼</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsAnswered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IsAnswered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RequestTask__r.IsApprovalProcessTarget__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_requestTask</targetReference>
            </connector>
            <label>状況更新対象</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>依頼タスク回答更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>依頼タスク回答更新</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_requestTask</name>
        <label>依頼タスク更新</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RequestTask__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionComment__c</field>
            <value>
                <elementReference>$Record.CompletionComment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedAnswerDate__c</field>
            <value>
                <elementReference>$Record.EstimatedAnswerDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>依頼先対応済/依頼完了</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.RequestTask__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRequestTask</name>
        <label>依頼タスク.完了コメントを更新</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>CompletionComment__c</field>
            <value>
                <elementReference>$Record.CompletionComment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedAnswerDate__c</field>
            <value>
                <elementReference>$Record.EstimatedAnswerDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.RequestTask__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decision_isStatusUpdate</targetReference>
        </connector>
        <object>RequestTaskAnswer__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
