force-app/main/default/flows/RequestTaskUnapprovedRemindFlow1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>未承認の依頼タスクに対して、割当先のメールアドレス宛にアラートメールを送信する。</description>
        <name>action_RequestTaskUnapprovedAlert</name>
        <label>依頼タスク未承認アラートメール</label>
        <locationX>314</locationX>
        <locationY>1032</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>var_Addresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>【未承認アラート】あなた宛の承認依頼があります</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>var_MailText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_Adress</name>
        <label>宛先作成</label>
        <locationX>314</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>var_Addresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_OriginalActorUser.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Addresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_DelegatedApproverUser.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_MailText</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MailText</name>
        <label>メール本文作成</label>
        <locationX>314</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>以下の承認申請が登録され、24時間が経過しました。&lt;br&gt;ご確認の上、承認をお願いいたします。&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;案件：</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OpportunityName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;依頼区分：</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.TaskCategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;依頼先：</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.RequestDestination__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;詳細リンク：</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_RecordPageURL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>action_RequestTaskUnapprovedAlert</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>承認プロセスインスタンスが有効かつ未決かを状況から判断する。</description>
        <name>decision_AlertNeeded</name>
        <label>アラートが必要か</label>
        <locationX>446</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>アラート不要</defaultConnectorLabel>
        <rules>
            <name>result_AlertNeeded</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_ProcessInstanceStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ProcessInstanceStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ProcessInstanceStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Removed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ProcessInstanceStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Fault</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_ProcessInstanceWorkitem</targetReference>
            </connector>
            <label>要アラート</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>var_RecordPageURL</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_350  ,FIND(&quot;/services/Soap/&quot;, $Api.Partner_Server_URL_350)) + &apos;lightning/r/RequestTask__c/&apos; + {!$Record.Id} + &apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>依頼タスク未承認アラートフロー（最初の承認者用） {!$Flow.CurrentDateTime}</interviewLabel>
    <label>依頼タスク未承認アラートフロー（最初の承認者用）</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>アラート対象の割当先情報を取得する。</description>
        <name>get_ActorUser</name>
        <label>アクター取得（ユーザ）</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_OriginalActorDelegatedApproverUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OriginalActorId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>var_OriginalActorUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DelegatedApproverId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>アラート対象の代理承認者情報を取得する。</description>
        <name>get_OriginalActorDelegatedApproverUser</name>
        <label>代理承認者取得（ユーザ）</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Adress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OriginalActorUser.DelegatedApproverId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>var_DelegatedApproverUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>依頼タスクの承認プロセスインスタンスのレコードIDを取得する。</description>
        <name>get_ProcessInstanceByRequestTaskId</name>
        <label>依頼タスクIDでプロセスインスタンス取得</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_UnapprovedRemindTargetProcessInstanceId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>ProcessInstance</object>
        <outputAssignments>
            <assignToReference>var_ProcessInstanceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>依頼タスクに設定された『未承認アラート対象プロセスインスタンスID』でレコードを取得する。</description>
        <name>get_ProcessInstanceByTargetId</name>
        <label>対象プロセスインスタンスIDでプロセスインスタンス取得</label>
        <locationX>446</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_AlertNeeded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.UnapprovedRemindTargetProcessInstanceId__c</elementReference>
            </value>
        </filters>
        <object>ProcessInstance</object>
        <outputAssignments>
            <assignToReference>var_ProcessInstanceStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>未承認アラート対象プロセスインスタンス内の最新承認申請レコードを取得する。</description>
        <name>get_ProcessInstanceWorkitem</name>
        <label>承認申請取得</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_ActorUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.UnapprovedRemindTargetProcessInstanceId__c</elementReference>
            </value>
        </filters>
        <object>ProcessInstanceWorkitem</object>
        <outputAssignments>
            <assignToReference>var_OriginalActorId</assignToReference>
            <field>ActorId</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>承認プロセスインスタンスIDを依頼タスクの未承認アラート対象プロセスインスタンスIDに設定する。</description>
        <name>update_UnapprovedRemindTargetProcessInstanceId</name>
        <label>未承認アラート対象プロセスインスタンスID設定</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>UnapprovedRemindTargetProcessInstanceId__c</field>
            <value>
                <elementReference>var_ProcessInstanceId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_ProcessInstanceByRequestTaskId</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>UnapprovedRemindNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>自部門承認中</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>依頼先対応中</stringValue>
            </value>
        </filters>
        <object>RequestTask__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>After24hour</name>
            <connector>
                <targetReference>get_ProcessInstanceByTargetId</targetReference>
            </connector>
            <label>24時間後</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>500</triggerOrder>
    <variables>
        <name>var_Addresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DelegatedApproverUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>var_MailText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OriginalActorGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <description>元のアクターID</description>
        <name>var_OriginalActorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>承認ステップに本来割り当てられているユーザ。</description>
        <name>var_OriginalActorUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>承認プロセスインスタンスのレコードIDを保持する。</description>
        <name>var_ProcessInstanceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>承認プロセスインスタンスの状況を保持する。</description>
        <name>var_ProcessInstanceStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
