force-app/main/default/flows/SetAgencyMaxFeeBeforeApproved.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>clear</name>
        <label>手数料クリア</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.AdjustMaxFee__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AdjustMinFee__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BidAgency1MaxFee__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BidAgency1MinFee__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BidAgency2MaxFee__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BidAgency2MinFee__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BidAgency3MaxFee__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BidAgency3MinFee__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>checkDependentJvInquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearAdjustFee</name>
        <label>今回増減手数料クリア</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.AdjustMaxFee__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AdjustMinFee__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>setAgencyMaxFee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearMin</name>
        <label>MIN手数料クリア</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>$Record.AdjustMinFee__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BidAgency1MinFee__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BidAgency2MinFee__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BidAgency3MinFee__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>checkDependentJvInquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAdjustFee</name>
        <label>今回増減手数料設定</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.AdjustMaxFee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DependentFeeInquiry__r.DifferenceWithLastTimeMax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AdjustMinFee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DependentFeeInquiry__r.DifferenceWithLastTimeMin__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setAgencyMaxFee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAgencyMaxFee</name>
        <label>代理店手数料設定</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>$Record.BidAgency1MaxFee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DependentFeeInquiry__r.Agency1MaxFee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BidAgency1MinFee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DependentFeeInquiry__r.Agency1MinFee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BidAgency2MaxFee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DependentFeeInquiry__r.Agency2MaxFee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BidAgency2MinFee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DependentFeeInquiry__r.Agency2MinFee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BidAgency3MaxFee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DependentFeeInquiry__r.Agency3MaxFee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BidAgency3MinFee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DependentFeeInquiry__r.Agency3MinFee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsInputContractAmountMin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setBid</name>
        <label>入札情報設定</label>
        <locationX>479</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>$Record.BidName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BidName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BidStyle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BidStyle__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BiddingSystem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BiddingSystem__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.InvitationToTenderDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.InvitationToTenderDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BidEntryApplicationPeriod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BidEntryApplicationPeriod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.QuestionSubmissionPeriod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.QuestionSubmissionPeriod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.QuestionAnswerDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.QuestionAnswerDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BiddingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BiddingDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BidOpeningDay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BidOpeningDay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BidOpeningTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BidOpeningTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DeliveryDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.DeliveryDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DetailedStatementNecessity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.DetailedStatementNecessity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BudgetInfo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BudgetInfo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BiddingMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BiddingMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BiddingTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DependentJvInquiry__r.BiddingTime__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRecordTypeName</name>
        <label>レコードタイプ名を割り当て</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckDependentFeeInquiryIsChange</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckDependentFeeInquiryIsChange</name>
        <label>参照先手数料伺い変更判断</label>
        <locationX>611</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>checkDependentJvInquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>変更なし</defaultConnectorLabel>
        <rules>
            <name>isChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DependentFeeInquiry__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckDependentFeeInquiryIsValue</targetReference>
            </connector>
            <label>変更済み</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckDependentFeeInquiryIsValue</name>
        <label>参照先手数料伺い値判断</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>clear</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>値なし</defaultConnectorLabel>
        <rules>
            <name>notNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DependentFeeInquiry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckParentDependentFeeInquiry</targetReference>
            </connector>
            <label>値あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkDependentJvInquiry</name>
        <label>参照先JV伺い値判断</label>
        <locationX>611</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>それ以外の場合</defaultConnectorLabel>
        <rules>
            <name>isNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.DependentJvInquiry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DependentJvInquiry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>O</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setBid</targetReference>
            </connector>
            <label>ブランドから選択された場合</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckParentDependentFeeInquiry</name>
        <label>参照先手数料伺いの参照先手数料伺い判断</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>ClearAdjustFee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>なし</defaultConnectorLabel>
        <rules>
            <name>have</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DependentFeeInquiry__r.DependentFeeInquiry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAdjustFee</targetReference>
            </connector>
            <label>あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsInputContractAmountMin</name>
        <label>受注(見込)CP【MIN】がある判定</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>checkDependentJvInquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MINあり</defaultConnectorLabel>
        <rules>
            <name>UniqueName</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DependentFeeInquiry__r.ContractAmountMin__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DependentFeeInquiry__r.ContractAmountMin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClearMin</targetReference>
            </connector>
            <label>MINなし</label>
        </rules>
    </decisions>
    <description>伺い認許ステータスが「承認済」以外の場合代理店手数料の値を自動設定する</description>
    <environments>Default</environments>
    <interviewLabel>応札 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>見積・応札伺い項目(代理店手数料設定)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update</name>
        <label>レコード更新</label>
        <locationX>611</locationX>
        <locationY>1823</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetRecordTypeName</targetReference>
        </connector>
        <object>QuoteBiddingInquiry__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
