force-app/main/default/flows/SetInternalRate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <constants>
        <description>オーストラリアドルの社内レートを変更する場合には、この定数の値を変更してください。</description>
        <name>InternalRate_AUD</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>95.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>中国人民元の社内レートを変更する場合には、この定数の値を変更してください。</description>
        <name>InternalRate_CNY</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>20.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>ユーロの社内レートを変更する場合には、この定数の値を変更してください。</description>
        <name>InternalRate_EUR</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>155.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>香港ドルの社内レートを変更する場合には、この定数の値を変更してください。</description>
        <name>InternalRate_HKD</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>18.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>台湾ドルの社内レートを変更する場合には、この定数の値を変更してください。</description>
        <name>InternalRate_INR</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.7</numberValue>
        </value>
    </constants>
    <constants>
        <description>日本円の社内レートを変更する場合には、この定数の値を変更してください。</description>
        <name>InternalRate_JPY</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>シンガポールドルの社内レートを変更する場合には、この定数の値を変更してください。</description>
        <name>InternalRate_SGD</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>105.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>台湾ドルの社内レートを変更する場合には、この定数の値を変更してください。</description>
        <name>InternalRate_TWD</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.3</numberValue>
        </value>
    </constants>
    <constants>
        <description>アメリカドルの社内レートを変更する場合には、この定数の値を変更してください。</description>
        <name>InternalRate_USD</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>145.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>SetInternalRate</name>
        <label>社内レート設定</label>
        <locationX>1238</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Defo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルト</defaultConnectorLabel>
        <rules>
            <name>USD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyOption__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>アメリカドル　USD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetUSD</targetReference>
            </connector>
            <label>アメリカドル</label>
        </rules>
        <rules>
            <name>EUR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyOption__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ユーロ　EUR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetEUR</targetReference>
            </connector>
            <label>ユーロ</label>
        </rules>
        <rules>
            <name>CNY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyOption__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>中国人民元　RMB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCNY</targetReference>
            </connector>
            <label>中国人民元</label>
        </rules>
        <rules>
            <name>HKD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyOption__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>香港ドル　HKD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetHKD</targetReference>
            </connector>
            <label>香港ドル</label>
        </rules>
        <rules>
            <name>AUD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyOption__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>オーストラリアドル　AUD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAUD</targetReference>
            </connector>
            <label>オーストラリアドル</label>
        </rules>
        <rules>
            <name>SGD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyOption__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>シンガポールドル　SGD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSGD</targetReference>
            </connector>
            <label>シンガポールドル</label>
        </rules>
        <rules>
            <name>TWD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyOption__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>台湾ドル　TWD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetTWD</targetReference>
            </connector>
            <label>台湾ドル</label>
        </rules>
        <rules>
            <name>INR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyOption__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>インドルピー　INR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetINR</targetReference>
            </connector>
            <label>インドルピー</label>
        </rules>
        <rules>
            <name>JPY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyOption__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>日本円　JPY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetJPY</targetReference>
            </connector>
            <label>日本円</label>
        </rules>
    </decisions>
    <description>アメリカドル変更（150→145）</description>
    <environments>Default</environments>
    <interviewLabel>社内レート設定 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>社内レート設定</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Defo</name>
        <label>デフォルト</label>
        <locationX>2426</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>InternalRateNum__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetAUD</name>
        <label>オーストラリアドル設定</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>InternalRateNum__c</field>
            <value>
                <elementReference>InternalRate_AUD</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetCNY</name>
        <label>中国人民元設定</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>InternalRateNum__c</field>
            <value>
                <elementReference>InternalRate_CNY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetEUR</name>
        <label>ユーロ設定</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>InternalRateNum__c</field>
            <value>
                <elementReference>InternalRate_EUR</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetHKD</name>
        <label>香港ドル設定</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>InternalRateNum__c</field>
            <value>
                <elementReference>InternalRate_HKD</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetINR</name>
        <label>インドルピー設定</label>
        <locationX>1898</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>InternalRateNum__c</field>
            <value>
                <elementReference>InternalRate_INR</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetJPY</name>
        <label>日本円設定</label>
        <locationX>2162</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>InternalRateNum__c</field>
            <value>
                <elementReference>InternalRate_JPY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetSGD</name>
        <label>シンガポールドル設定</label>
        <locationX>1370</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>InternalRateNum__c</field>
            <value>
                <elementReference>InternalRate_SGD</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetTWD</name>
        <label>台湾ドル設定</label>
        <locationX>1634</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>InternalRateNum__c</field>
            <value>
                <elementReference>InternalRate_TWD</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetUSD</name>
        <label>アメリカドル設定</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>InternalRateNum__c</field>
            <value>
                <elementReference>InternalRate_USD</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetInternalRate</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CurrencyOption__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ForeignCurrencyCP__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
