force-app/main/default/flows/SetProfitability.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>ChoiceProfitability</name>
        <label>採算性選択リスト決定</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>なし</defaultConnectorLabel>
        <rules>
            <name>GetTC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TotalCP__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TCplusCharge</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetTC</targetReference>
            </connector>
            <label>TC確保</label>
        </rules>
        <rules>
            <name>SpecialRejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WCPercent__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>95.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSpecialRejected</targetReference>
            </connector>
            <label>特別不採算</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WCPercent__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>95.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetRejected</targetReference>
            </connector>
            <label>不採算</label>
        </rules>
    </decisions>
    <description>案件の「採算性」項目の値を自動で設定するためのフロー
修正箇所：2025/02/28 PUS_CRM-588 水環境BU　案件オブジェクトへの項目追加要望 コメントを基にロジックを修正</description>
    <environments>Default</environments>
    <formulas>
        <description>TC＋販売手数料</description>
        <name>TCplusCharge</name>
        <dataType>Number</dataType>
        <expression>{!$Record.TC__c} + {!$Record.Margin__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>案件.採算性の選択リスト自動決定 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>案件.採算性の選択リスト設定</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>SetRejected</name>
        <label>項目値設定_不採用</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Profitability__c</field>
            <value>
                <stringValue>不採算</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetSpecialRejected</name>
        <label>項目値設定_特別不採用</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Profitability__c</field>
            <value>
                <stringValue>特別不採算</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetTC</name>
        <label>項目値設定_TC確保</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Profitability__c</field>
            <value>
                <stringValue>TC確保</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ChoiceProfitability</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BU__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>水環境</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
