force-app/main/default/flows/SpecialPricingCreateFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>call_SpecialPricingCreateAction</name>
        <label>特殊仕様マスタ作成</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <actionName>SpecialPricingCreateAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>screen_Finish</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>batchSize</name>
            <value>
                <elementReference>get_MaintenanceJob.BatchSize__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SpecialPricingCreateAction</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assign_MaintenanceJob</name>
        <label>メンテナンスジョブレコード割り当て</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>get_MaintenanceJob.IsRunning__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_MaintenanceJob.Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_RunningMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_MaintenanceJob</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_Running</name>
        <label>実行中判定</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>assign_MaintenanceJob</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>停止中</defaultConnectorLabel>
        <rules>
            <name>running</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_MaintenanceJob.IsRunning__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_Break</targetReference>
            </connector>
            <label>実行中</label>
        </rules>
    </decisions>
    <description>特殊仕様マスタを作成する。メンテナンスレコードから呼び出される。</description>
    <environments>Default</environments>
    <interviewLabel>特殊仕様マスタ自動作成フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>特殊仕様マスタ自動作成フロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_MaintenanceJob</name>
        <label>メンテナンスジョブレコード取得</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_Running</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MaintenanceJob__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_MaintenanceJob</name>
        <label>メンテナンスジョブレコード更新</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>call_SpecialPricingCreateAction</targetReference>
        </connector>
        <inputReference>get_MaintenanceJob</inputReference>
    </recordUpdates>
    <screens>
        <name>screen_Break</name>
        <label>中断画面</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_BreakMessage</name>
            <fieldText>&lt;p&gt;実行中のため特殊仕様マスタの作成処理は開始できません。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Finish</name>
        <label>完了画面</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_FinishMessage</name>
            <fieldText>&lt;p&gt;特殊仕様マスタの作成処理を開始しました。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_MaintenanceJob</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>formula_RunningMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!$Flow.CurrentDateTime}に処理を開始しました。</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
