force-app/main/default/flows/TaskProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;@[{![RequestTask__c].OwnerId}]さん\n以下の依頼タスクの担当者に割り当てられました。\n案件名：{![RequestTask__c].OpportunityName__c}\n件名：{![RequestTask__c].Name}\n依頼区分：{![RequestTask__c].TaskCategory__c}\n状況：{![RequestTask__c].Status__c}\n依頼コメント：{![RequestTask__c].TaskDetail__c}&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Chatterに投稿</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!myVariable_current.OwnerId}]さん
以下の依頼タスクの担当者に割り当てられました。
案件名：{!myVariable_current.OpportunityName__c}
件名：{!myVariable_current.Name}
依頼区分：{!myVariable_current.TaskCategory__c}
状況：{!myVariable_current.Status__c}
依頼コメント：{!myVariable_current.TaskDetail__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;{![RequestTask__c].MentionTo__c}\n{![RequestTask__c].MentionCc__c}\n新しい依頼タスクが登録されました。\nご確認をお願いいたします\n案件：{![RequestTask__c].OpportunityName__c}\n依頼区分：{![RequestTask__c].TaskCategory__c}\n状況：{![RequestTask__c].Status__c}\n依頼コメント：{![RequestTask__c].TaskDetail__c}&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A2</name>
        <label>Chatterに投稿</label>
        <locationX>300</locationX>
        <locationY>300</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>{!myVariable_current.MentionTo__c}
{!myVariable_current.MentionCc__c}
新しい依頼タスクが登録されました。
ご確認をお願いいたします
案件：{!myVariable_current.OpportunityName__c}
依頼区分：{!myVariable_current.TaskCategory__c}
状況：{!myVariable_current.Status__c}
依頼コメント：{!myVariable_current.TaskDetail__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;To.@[{![RequestTask__c].CreatedBy.Id}]\n以下の依頼タスクが完了されました。\n案件名：{![RequestTask__c].OpportunityName__c}\n件名：{![RequestTask__c].Name}\n依頼区分：{![RequestTask__c].TaskCategory__c}\n状況：{![RequestTask__c].Status__c}\n完了コメント：{![RequestTask__c].CompletionComment__c}&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_6_A2</name>
        <label>Chatterに投稿</label>
        <locationX>600</locationX>
        <locationY>300</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>To.@[{!myVariable_current.CreatedBy.Id}]
以下の依頼タスクが完了されました。
案件名：{!myVariable_current.OpportunityName__c}
件名：{!myVariable_current.Name}
依頼区分：{!myVariable_current.TaskCategory__c}
状況：{!myVariable_current.Status__c}
完了コメント：{!myVariable_current.CompletionComment__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>所有者が変更された時(キュー以外)</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_pmetdec</targetReference>
            </connector>
            <label>状況が”新規”に変わった時or依頼先が変わった時</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision5</name>
        <label>myDecision5</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_pmetdec</targetReference>
            </connector>
            <label>状況が”完了”に変わった時</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>上記以外</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_3_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_3_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_3_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_6_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>600</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_6_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_6_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_6_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_6_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>依頼タスクを新規作成・更新した際の自動処理プロセス</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF( !ISBLANK([RequestTask__c].ProductSpecification__c),
[RequestTask__c].ProductSpecification__c.Opp5__c.Id ,
IF( !ISBLANK([RequestTask__c].Factory__c),
[RequestTask__c].Factory__c.Opp1__c.Id ,
IF( !ISBLANK([RequestTask__c].Opportunity__c),
[RequestTask__c].Opportunity__c.Id ,&apos;&apos;
)
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_9_A1_2314966004</name>
        <dataType>String</dataType>
        <expression>IF( !ISBLANK({!myVariable_current.ProductSpecification__c}),
{!myVariable_current.ProductSpecification__r.Opp5__r.Id} ,
IF( !ISBLANK({!myVariable_current.Factory__c}),
{!myVariable_current.Factory__r.Opp1__r.Id} ,
IF( !ISBLANK({!myVariable_current.Opportunity__c}),
{!myVariable_current.Opportunity__r.Id} ,&apos;&apos;
)
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF( !ISBLANK([RequestTask__c].ProductSpecification__c),
[RequestTask__c].ProductSpecification__c.Opp5__c.Id ,
IF( !ISBLANK([RequestTask__c].Factory__c),
[RequestTask__c].Factory__c.Opp1__c.Id ,
IF( !ISBLANK([RequestTask__c].Opportunity__c),
[RequestTask__c].Opportunity__c.Id ,&apos;&apos;
)
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_3_A1_6393478205</name>
        <dataType>String</dataType>
        <expression>IF( !ISBLANK({!myVariable_current.ProductSpecification__c}),
{!myVariable_current.ProductSpecification__r.Opp5__r.Id} ,
IF( !ISBLANK({!myVariable_current.Factory__c}),
{!myVariable_current.Factory__r.Opp1__r.Id} ,
IF( !ISBLANK({!myVariable_current.Opportunity__c}),
{!myVariable_current.Opportunity__r.Id} ,&apos;&apos;
)
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF( !ISBLANK([RequestTask__c].ProductSpecification__c),
[RequestTask__c].ProductSpecification__c.Opp5__c.Id ,
IF( !ISBLANK([RequestTask__c].Factory__c),
[RequestTask__c].Factory__c.Opp1__c.Id ,
IF( !ISBLANK([RequestTask__c].Opportunity__c),
[RequestTask__c].Opportunity__c.Id ,&apos;&apos;
)
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_6_A1_0465685003</name>
        <dataType>String</dataType>
        <expression>IF( !ISBLANK({!myVariable_current.ProductSpecification__c}),
{!myVariable_current.ProductSpecification__r.Opp5__r.Id} ,
IF( !ISBLANK({!myVariable_current.Factory__c}),
{!myVariable_current.Factory__r.Opp1__r.Id} ,
IF( !ISBLANK({!myVariable_current.Opportunity__c}),
{!myVariable_current.Opportunity__r.Id} ,&apos;&apos;
)
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISCHANGED([RequestTask__c].OwnerId ) ,
LEFT([RequestTask__c].OwnerId, 3) != &quot;00G&quot;
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISCHANGED({!myVariable_current.OwnerId} ) ,
LEFT({!myVariable_current.OwnerId}, 3) != &quot;00G&quot;
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
AND(
ISPICKVAL([RequestTask__c].Status__c, &apos;新規&apos;) ,
OR(
ISNEW(),
!ISPICKVAL(PRIORVALUE([RequestTask__c].Status__c), &apos;新規&apos;) 
)
),
AND(
ISCHANGED([RequestTask__c].RequestTo__c ) ,
!ISPICKVAL([RequestTask__c].Status__c, &apos;一時保存&apos;) 
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND(
ISPICKVAL({!myVariable_current.Status__c}, &apos;新規&apos;) ,
OR(
ISNEW(),
!ISPICKVAL(PRIORVALUE({!myVariable_current.Status__c}), &apos;新規&apos;) 
)
),
AND(
ISCHANGED({!myVariable_current.RequestTo__c} ) ,
!ISPICKVAL({!myVariable_current.Status__c}, &apos;一時保存&apos;) 
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
AND(
ISPICKVAL([RequestTask__c].Status__c, &apos;新規&apos;) ,
OR(
ISNEW(),
!ISPICKVAL(PRIORVALUE([RequestTask__c].Status__c), &apos;新規&apos;) 
)
),
AND(
ISCHANGED([RequestTask__c].RequestTo__c ) ,
!ISPICKVAL([RequestTask__c].Status__c, &apos;一時保存&apos;) 
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND(
ISPICKVAL({!myVariable_old.Status__c}, &apos;新規&apos;) ,
OR(
ISNEW(),
!ISPICKVAL(PRIORVALUE({!myVariable_old.Status__c}), &apos;新規&apos;) 
)
),
AND(
ISCHANGED({!myVariable_old.RequestTo__c} ) ,
!ISPICKVAL({!myVariable_old.Status__c}, &apos;一時保存&apos;) 
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISPICKVAL([RequestTask__c].Status__c, &apos;完了済&apos;) ,
!ISPICKVAL(PRIORVALUE([RequestTask__c].Status__c), &apos;完了済&apos;) 
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_6</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISPICKVAL({!myVariable_current.Status__c}, &apos;完了済&apos;) ,
!ISPICKVAL(PRIORVALUE({!myVariable_current.Status__c}), &apos;完了済&apos;) 
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISPICKVAL([RequestTask__c].Status__c, &apos;完了済&apos;) ,
!ISPICKVAL(PRIORVALUE([RequestTask__c].Status__c), &apos;完了済&apos;) 
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_6_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISPICKVAL({!myVariable_old.Status__c}, &apos;完了済&apos;) ,
!ISPICKVAL(PRIORVALUE({!myVariable_old.Status__c}), &apos;完了済&apos;) 
)</expression>
    </formulas>
    <formulas>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>TaskProcess-30_InterviewLabel</interviewLabel>
    <label>依頼タスクプロセス</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>RequestTask__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[RequestTask__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>案件セット</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_3_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>案件</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Opportunity__c</field>
            <value>
                <elementReference>formula_4_myRule_3_A1_6393478205</elementReference>
            </value>
        </inputAssignments>
        <object>RequestTask__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[RequestTask__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_6_A1</name>
        <label>案件セット</label>
        <locationX>600</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_6_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>案件</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Opportunity__c</field>
            <value>
                <elementReference>formula_7_myRule_6_A1_0465685003</elementReference>
            </value>
        </inputAssignments>
        <object>RequestTask__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[RequestTask__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>案件セット</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>案件</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Opportunity__c</field>
            <value>
                <elementReference>formula_10_myRule_9_A1_2314966004</elementReference>
            </value>
        </inputAssignments>
        <object>RequestTask__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RequestTask__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>RequestTask__c</objectType>
    </variables>
</Flow>
