force-app/main/default/flows/UpdateUserQueueNameList.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>AssignQueueNameList</name>
        <label>キュー名テキストにキュー名を追加</label>
        <locationX>264</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>QueueNameText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopGroupMemberInfo.Group.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QueueNameText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopGroupMemberInfo</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>JudgeQueueType</name>
        <label>グループの種別を判定</label>
        <locationX>396</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>LoopGroupMemberInfo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>その他の種別</defaultConnectorLabel>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopGroupMemberInfo.Group.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignQueueNameList</targetReference>
            </connector>
            <label>キュー</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ユーザの参加キュー名リストを更新する {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ユーザの参加キュー名リストを更新する</label>
    <loops>
        <name>LoopGroupMemberInfo</name>
        <label>自身のグループメンバー情報をループ</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <collectionReference>SearchMyGroupMemberInfo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>JudgeQueueType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateQueueNameList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>SearchMyGroupMemberInfo</name>
        <label>自身のグループメンバー情報を検索</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopGroupMemberInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateQueueNameList</name>
        <label>ユーザの参加キューリストを更新</label>
        <locationX>176</locationX>
        <locationY>887</locationY>
        <inputAssignments>
            <field>QueueNameList__c</field>
            <value>
                <elementReference>QueueNameText</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SearchMyGroupMemberInfo</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>QueueNameList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueNameText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
