force-app/main/default/flows/UpdateLastModifiedDateTime.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>案件フェーズが失注or削除ではない場所別が作成・更新されたとき</label>
        </rules>
    </decisions>
    <description>場所別が作成・更新されるたびに案件の案件更新日時分秒を更新する（RPAロボット以外</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>LEFT (TEXT ([Factory__c].LastModifiedDate  + (9/24)),19)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A2_7221291814</name>
        <dataType>String</dataType>
        <expression>LEFT (TEXT ({!myVariable_current.LastModifiedDate}  + (9/24)),19)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>DATEVALUE([Factory__c].LastModifiedDate ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A2_2752120414</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!myVariable_current.LastModifiedDate} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(LEFT (TEXT ([Factory__c].LastModifiedDate + (9/24)),19), &quot;-&quot;, &quot;&quot;
)
, &quot;:&quot;, &quot;&quot;) ,
&quot; &quot;, &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_5306046540</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(LEFT (TEXT ({!myVariable_current.LastModifiedDate} + (9/24)),19), &quot;-&quot;, &quot;&quot;
)
, &quot;:&quot;, &quot;&quot;) ,
&quot; &quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>DATEVALUE([Factory__c].LastModifiedDate ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_8634695502</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!myVariable_current.LastModifiedDate} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(
    OR(
        [Factory__c].LastModifiedBy.Profile.Name == &apos;RPAロボット&apos;,
        [Factory__c].LastModifiedBy.Profile.Name == &apos;システム管理者&apos;,
        [Factory__c].LastModifiedBy.Profile.Name == &apos;データ移行管理者&apos;,
        AND(
            PRIORVALUE([Factory__c].OppPhase__c) = &apos;失注&apos;,
            [Factory__c].OppPhase__c = &apos;失注&apos;),
        AND(
            PRIORVALUE([Factory__c].OppPhase__c) = &apos;削除&apos;,
            [Factory__c].OppPhase__c = &apos;削除&apos;)
    )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>NOT(
    OR(
        {!myVariable_current.LastModifiedBy.Profile.Name} == &apos;RPAロボット&apos;,
        {!myVariable_current.LastModifiedBy.Profile.Name} == &apos;システム管理者&apos;,
        {!myVariable_current.LastModifiedBy.Profile.Name} == &apos;データ移行管理者&apos;,
        AND(
            PRIORVALUE({!myVariable_current.OppPhase__c}) = &apos;失注&apos;,
            {!myVariable_current.OppPhase__c} = &apos;失注&apos;),
        AND(
            PRIORVALUE({!myVariable_current.OppPhase__c}) = &apos;削除&apos;,
            {!myVariable_current.OppPhase__c} = &apos;削除&apos;)
    )
)</expression>
    </formulas>
    <interviewLabel>UpdateLastModifiedDateTime-8_InterviewLabel</interviewLabel>
    <label>案件更新日時分秒・明細更新日時分秒 自動更新</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Factory__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Factory__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>明細更新日時分秒・明細最終更新日を設定</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>明細更新日時分秒</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>LastModifiedDateAndTime__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_5306046540</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>明細最終更新日</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>LastModifiedDateInFac__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A1_8634695502</elementReference>
            </value>
        </inputAssignments>
        <object>Factory__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Factory__c].案件</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>案件更新年月日時分秒・案件最終更新日を設定</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Opp1__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>案件更新日時分秒</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>LastModifiedDateAndTime__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A2_7221291814</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>案件最終更新日</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>LastModifiedDateInOpp__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A2_2752120414</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Factory__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Factory__c</objectType>
    </variables>
</Flow>
