force-app/main/default/flows/Workflow_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sp1ActionEmail111</name>
        <label>Opportunity.ActionEmail111</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.ActionEmail111</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.ActionEmail111</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>sp2X2</name>
        <label>Opportunity.X2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.X2</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.X2</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>sp3X3</name>
        <label>Opportunity.X3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.X3</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.X3</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <description>移行元: 新：受注予定日超過アラート（施設一課分） ワークフロールール
ワークフロールールの説明: &quot;</description>
    <label>新：受注予定日超過アラート（施設一課分）_2</label>
    <migratedFromWorkflowRuleName>新：受注予定日超過アラート（施設一課分）</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>PickDivision__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>本社　施設・一</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>基本計画</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>基本設計</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>実施設計</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>価格交渉 入札準備・入札</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>ScheduledPath1</name>
            <connector>
                <targetReference>sp1ActionEmail111</targetReference>
            </connector>
            <label>ScheduledPath1</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>after1__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>ScheduledPath2</name>
            <connector>
                <targetReference>sp2X2</targetReference>
            </connector>
            <label>ScheduledPath2</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>after2__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>ScheduledPath3</name>
            <connector>
                <targetReference>sp3X3</targetReference>
            </connector>
            <label>ScheduledPath3</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>after3__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
